@import
	url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	transition: all 0.5s ease;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	border-radius: 5px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #94CC8E;
}
body {
	/*background: linear-gradient(135deg, #71b7e6, #9b59b6);*/
	background: linear-gradient(135deg, rgba(185, 227, 255, 0.9139005944174545)
		0%, rgba(153, 203, 254, 1) 50%,
		rgba(241, 206, 255, 0.9279061966583508) 100%);
	background-attachment: fixed;
}

.headbar {
	top: 0;
	left: 0;
	height: 78px;
	width: 100%;
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background: red;*/
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 78px;
	/*background: red;*/
	z-index: 100;
	transition: all 0.5s ease;
	align-items: center;
	justify-content: center;
}

.app-name {
	display: none;
	font-weight: 700;
	font-size: 32px;
}

.headbar:hover img {
	display: none;
}

.headbar:hover .app-name {
	display: block;
}

.sidebar-links {
	/* background: green; /* C Juste pour pouvoir placer les elements */
	height: 100%;
	/* padding-top: 30px; */
	/*padding: 30px 0 150px 0;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sidebar-one-link, .sidebar-pop-menu {
	position: relative;
	list-style: none;
	transition: all 0.4s ease;
}

.sidebar-one-link {
	margin-bottom: 10px;
}

.sidebar-one-link a,
.sidebar-one-link input,
.sidebar-one-link label {
	padding: 0 10px 0 0;
	margin-left: 10px;
}

.sidebar-one-link a img {
	width: 32px;
	height: 32px;
}

.main-pop-menu {
	font-size: 18px;
	/*font-weight: 400;*/
	color: #fff;
	/*opacity: 0;*/
	/*pointer-events: none;*/
}

.sidebar-pop-menu {
	/*padding: 6px 6px 14px 80px;*/
	margin-top: -10px;
	background: #1d1b31;
	position: absolute;
	left: 100%;
	top: -10px;
	/*margin-top: 0;*/
	padding: 10px 20px;
	border-radius: 6px;
	transition: all 0.4s ease;
	pointer-events: none;
	display: block;
	opacity: 0;
	/*display: none;*/
}

.sidebar-pop-menu li a,
.sidebar-pop-menu li input {
	text-decoration: none;
}

.sidebar-pop-menu li form input {
	border: none;
    background: none;
}

.sidebar-pop-menu li form input:hover {
	cursor: pointer;
}

.sidebar-one-link:hover .sidebar-pop-menu {
	top: 0;
	opacity: 1;
	pointer-events: auto;
}

.sub-pop-menu {
	color: #fff;
	font-size: 15px;
	padding: 5px 0;
	white-space: nowrap;
	opacity: 0.6;
	transition: all 0.3 ease;
	background: none;
	border: none;
	cursor: pointer;
}

.sub-pop-menu:hover {
	opacity: 1;
}

.main-container {
	position: relative;
	/* background: red; */
	height: 100%;
	top: 10px;
	left: 78px;
	width: calc(100% - 78px);
	transition: all 0.5s ease;
}