.experiment-available {
	display: flex;
	flex-direction: column;
}

.experiment-available .title {
	margin-bottom: 16px;
}

.experiment-available .title span {
	font-weight: 700;
	font-size: 32px;
}

.experiment-available .list {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.experiment-available .list .card {
	height: 300px;
	width: 30%;
	margin: 0 16px 16px 0;
	padding: 16px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
}

.experiment-available .list .screening {
	background-image: linear-gradient(313deg, rgba(121, 231, 232, 0.5),
		rgba(255, 222, 150, 0.5)),
		url("https://scitechdaily.com/images/COVID-19-Antibodies-Illustration.jpg");
	background-size: cover;
}
.experiment-available .list .screening:hover {
	background-image: linear-gradient(313deg, rgba(121, 231, 232, 0.25),
		rgba(255, 222, 150, 0.25)),
		url("https://scitechdaily.com/images/COVID-19-Antibodies-Illustration.jpg");
}
.experiment-available .list .picking {
	background-image: linear-gradient(313deg, rgba(121, 231, 232, 0.5),
		rgba(255, 222, 150, 0.5)),
		url("https://www.biomerieux-industry.com/sites/default/files/2020-03/Cutibacterium%20Acnes_0.jpg");
	background-size: cover;
}
.experiment-available .list .picking:hover {
	background-image: linear-gradient(313deg, rgba(121, 231, 232, 0.25),
		rgba(255, 222, 150, 0.25)),
		url("https://www.biomerieux-industry.com/sites/default/files/2020-03/Cutibacterium%20Acnes_0.jpg");
}
.experiment-available .list .elisa {
	background-image: linear-gradient(313deg, rgba(121, 231, 232, 0.5),
		rgba(255, 222, 150, 0.5)),
		url("https://media.biocompare.com/m/37/category/25651.jpg");
	background-size: cover;
}
.experiment-available .list .elisa:hover {
	background-image: linear-gradient(313deg, rgba(121, 231, 232, 0.25),
		rgba(255, 222, 150, 0.25)),
		url("https://media.biocompare.com/m/37/category/25651.jpg");
}

.experiment-available .list .card .title-card {
	font-weight: 600;
	font-size: 24px;
	display: flex;
	justify-content: center;
	margin-bottom: 16px;
}
.experiment-available .list .card .btn-command,
.experiment-available .list .card .btn-command form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.experiment-available .list .card .btn-command form {
	width: 100%;
}
.experiment-available .list .card .btn-command a,
.experiment-available .list .card .btn-command form input {
	outline: none;
	border: none;
	height: 42px;
	width: calc(50% - 16px);
	margin-bottom: 16px;
	display: block;
	border-radius: 5px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease;
}
.experiment-available .list .card .btn-command a:hover,
.experiment-available .list .card .btn-command input:hover {
	background: linear-gradient(-135deg, #71b7e6, #9b59b6);
	color: #fff;
	transition: all 0.5s ease;
}
@media ( max-width : 1170px) {
	.experiment-available .list .card {
	width: 45%;
	}
}
@media ( max-width : 650px) {
	.experiment-available .list .card {
	width: 75%;
	}
}
@media ( max-width : 470px) {
	.experiment-available .list .card {
	width: 100%;
	}
}
@media ( max-width : 380px) {
	.experiment-available .list .card .btn-command {
	justify-content: center;
	flex-wrap: wrap;
}
.experiment-available .list .card .btn-command a,
.experiment-available .list .card .btn-command form input {
	width: 100%;
}
}