.dashboard-main-container {
	display: flex;
	justify-content: space-around;
	height: 625px;
	padding: 8px;
}

.task-employee-list-container {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	margin-right: 16px;
	justify-content: space-between;
}

.task-container {
	height: 55%;
	background: white;
	border-radius: 5px;
	padding: 16px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.employee-container {
	height: 40%;
	background: white;
	border-radius: 5px;
	padding: 16px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.title {
	font-weight: 600;
	font-size: 24px;
}

.tasks, .employees {
	display: flex;
	justify-content: center;
	margin-top: 16px;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
}

.employees {
	height: 150px;
	width: 100%;
}

.tasks {
	height: 250px;
	width: 100%;
}

.table-tasks, .table-employee {
	border-collapse: collapse;
	height: 100%;
	width: 100%;
}

.table-tasks thead tr, .table-employee thead tr {
	background-color: #94CC8E;
	color: white;
}

.table-tasks tbody tr, .table-employee tbody tr {
	border-bottom: 1px solid #dddddd;
}

.table-tasks tbody tr:nth-of-type(even), .table-employee tbody tr:nth-of-type(even)
	{
	background-color: #f3f3f3;
}

.table-tasks tbody tr:nth-of-type(odd), .table-employee tbody tr:nth-of-type(odd)
	{
	background-color: rgba(214, 214, 214, 0.8);
}

.table-tasks tbody tr:last-of-type, .table-employee tbody tr:last-of-type
	{
	border-bottom: 2px solid #009879;
}

.table-tasks tbody tr:hover, .table-employee tbody tr:hover {
	background-color: #b9e1f4;
}

.table-employee tbody tr td, .table-tasks tbody tr td {
	text-align: center;
}

table .date,
table .name {
	width: 25%;
}

.lab-info-container {
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
}

.stat-project-main-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 8px;
}

.project-total {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
}

.project-total span, .project-total label {
	font-weight: 700;
	font-size: 32px;
}

.project-total label {
	font-size: 64px;
	width: 100%;
	text-align: center;
}

.stat-project {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.stat-inProgress, .stat-finish-success, .stat-finish-fail, .stat-cancel
	{
	display: flex;
	flex-direction: column;
	width: 128px;
	height: 128px;
	background: white;
	padding: 8px;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	margin-bottom: 8px;
}

.stat-inProgress {
	color: rgba(5, 24, 167, 0.8);
}

.stat-finish-success {
	color: rgba(3, 140, 7, 0.8);
}

.stat-finish-fail {
	color: rgba(201, 153, 16, 0.8);
}

.stat-cancel {
	color: rgba(201, 0, 0, 0.8);
}

.little-title-stat {
	font-weight: 500;
	font-size: 16px;
}

.value-unity {
	display: flex;
	align-items: center;
	justify-content: center;
}

.value-unity label {
	font-weight: 700;
	font-size: 64px;
}

.value-unity span {
	height: 70%;
	display: flex;
	align-items: end;
	font-weight: 500;
	font-size: 24px;
}

@media (max-width: 1100px) {
	.dashboard-main-container {
		flex-direction: column;
		justify-content: flex-start;
	}
	.task-employee-list-container {
		width: 100%;
	}
	
	.lab-info-container {
		width: 100%;
	}
	
	.tasks {
		height: 80%;
	}
	
	.employees {
		height: 70%;
	}
}