@import
	url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	/* > Permet de bien centrer dans le body */
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: start;
	align-items: center;
	padding: 10px;
	/* < Permet de bien centrer dans le body */
	/*background: linear-gradient(135deg, #71b7e6, #9b59b6);*/
	background: linear-gradient(135deg, rgba(185, 227, 255, 0.9139005944174545)
		0%, rgba(153, 203, 254, 1) 50%,
		rgba(241, 206, 255, 0.9279061966583508) 100%);
	background-attachment: fixed;
}

.fulldesign-app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 16px;
	width: 100%;
}

.logo {
	width: 128px;
	height: 128px;
}

.typing-title {
	display: flex;
	width: 100%;
	justify-content: center;
}

.app-title {
	font-weight: 700;
	font-size: 64px;
	width: 50%;
}

#app-title {
	margin-left: 16px;
}

.fixed {
	text-align: right;
}

.loginForm-container {
	max-width: 300px;
	width: 100%;
	background: #fff;
	padding: 16px 32px 16px 32px;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.loginForm-title {
	font-size: 25px;
	font-weight: 500;
	position: relative;
}

.loginForm-title:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 60px;
	/*background: #9b59b6;*/ /* Si tu veux une couleur unique */
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	/* Si tu veux une gradient */
}

.login-details {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	/* Force les champ a rester dans le container qui contient le form */
	justify-content: center;
	margin: 20px 0 20px 0;
}

.loginInput-title {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}

.loginInput-field {
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-size: 16px;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
}

.loginInput-field:focus, .loginInput-field:valid {
	border-color: #9b59b6;
}

.loginForm-buttons {
	align-items: center;
	justify-content: center;
}

.connection-button, .createAccount-button {
	height: 45px;
	width: 100%;
	margin-bottom: 10px;
	outline: none;
	color: #fff;
	border: none;
	font-size: 18px;
	font-weight: 500;
	border-radius: 5px;
	letter-spacing: 1px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	cursor: pointer;
}

.connection-button:hover, .createAccount-button:hover {
	background: linear-gradient(-135deg, #71b7e6, #9b59b6);
	color: #fff;
}

.error-msg {
	display: flex;
	flex-direction: column; align-items : center;
	justify-content: center;
	align-items: center;
}

.error-msg span {
	text-align: center;
}