.projectinprogress-container {
	display: flex;
	align-items: center;
	/*justify-content: space-between;*/
	padding: 20px;
	flex-wrap: wrap;
}

.projectinprogress-container .card {
	width: calc(30% - 20px);
	background: #fff;
	text-align: center;
	margin: 0 16px 16px 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	padding: 15px 30px 15px 30px;
	border-radius: 5px;
}

.projectinprogress-container .card .top {
	height: 100px;
	background: red;
	color: #fff;
	padding: 12px 0 0 0;
	clip-path: polygon(0 0, 100% 0, 100% 53%, 49% 100%, 0 53%);
}

.projectinprogress-container .card .top .name-project {
	font-size: 22px;
	font-weight: 600;
}

.projectinprogress-container .card .top .customer {
	font-size: 15px;
	font-weight: 600;
	margin-top: -5px
}

.projectinprogress-container .card .info {
	font-size: 15px;
	margin-top: 20px;
	font-weight: 600;
}

.projectinprogress-container .card .details .line {
	margin-top: 25px;
	font-size: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.projectinprogress-container .card .details .line::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background: #ddd;
	left: 0;
	top: -12px;
}

.projectinprogress-container .card .details .line img {
	width: 16px;
	height: 16px;
}

.projectinprogress-container .card .button-command form {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.lab-button-command {
	display: flex;
	align-items: center;
	padding: 20px;
}

.projectinprogress-container .card .button-command button,
	.projectinprogress-container .card .button-command .details-button,
	.projectinprogress-container .card .button-command .add-result-button {
	outline: none;
	border: none;
	height: 42px;
	width: 100%;
	display: block;
	margin: 0 15px 0 15px;
	border-radius: 5px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
}

.projectinprogress-container .card .button-command button:hover,
	.lab-button-command button:hover, .projectinprogress-container .card .button-command .details-button:hover,
	.lab-button-command .link:hover,
	.projectinprogress-container .card .button-command .add-result-button:hover
	{
	background: linear-gradient(-135deg, #71b7e6, #9b59b6);
	color: #fff;
}

.lab-title-sortby {
	display: flex;
	align-items: center;
}

.lab-title-sortby h4 {
	font-weight: 800;
	font-size: 30px;
	letter-spacing: 1px;
	margin-right: 20px;
}

.lab-title-sortby select {
	height: 25px;
}

.lab-button-command button,
.lab-button-command .link {
	outline: none;
	border: none;
	height: 42px;
	width: 150px;
	display: block;
	margin-right: 15px;
	border-radius: 5px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
}
.lab-button-command .link {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.lab-path {
	display: flex;
	align-items: center;
}

.lab-path a, .lab-path .sup-path {
	text-decoration: none;
	color: #000000;
}
.lab-path form .sup-path {
	text-decoration: none;
	border: none;
    background: none;
    font-size: 16px;
	color: #000000;
	cursor: pointer;
}

@media ( max-width : 1290px) {
	.projectinprogress-container .card {
		width: calc(50% - 20px);
		margin-bottom: 20px;
	}
}
@media ( max-width : 860px) {
	.projectinprogress-container .card {
		width: 100%;
		margin-bottom: 20px;
	}
}

@media ( max-width : 520px) {
	.lab-title-sortby {
		display: block;
	}
}