.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-title {
	font-weight: 700;
	font-size: 32px;
}

.main-form {
	background: white;
	border-radius: 5px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	width: 85%;
	margin: 16px;
}

.main-project-screening-round-selector,
.main-xp-condition-selector,
.main-xp-control-selector {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.project-screening-round-selector,
.xp-condition-selector {
	display: flex;
	margin-top: 16px;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.xp-controls-selector {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-top: 16px;
	width: 100%;
	height: 136px;
}

.title-section {
	margin-top: 16px;
	font-weight: 600;
	font-size: 16px;
}

.project-screening-selector {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 16px;
	width: 66%;
	height: 40px;
}

.project-selector,
.screening-selector {
	display: flex;
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.project-selector {
	margin-right: 16px;
}

.rounds-selector {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 33%;
	height: 96px;
}

.round-selector {
	display: flex;
	width: 100%;
	height: 40px;
	justify-content: center;
	align-items: center;
}

.title-selector,
.title-info {
	height: 100%;
	width: 33%;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	background: #49B393;
	color: white;
	letter-spacing: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	font-size: 12px;
}

.selector,
.info,
.control-selected {
	height: 100%;
	width: 66%;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 12px;
	color: grey;
}

.selector option {
	text-align: center;
}

.xp-control-selector {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	width: 100%;
}

.main-btn-command {
	margin-top: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-btn-command input,
.main-btn-command a {
	outline: none;
	border: none;
	height: 64px;
	width: 128px;
	border-radius: 5px;
	margin: 0 16px 0 16px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.round-selector:hover .title-selector,
.screening-selector:hover .title-selector,
.project-selector:hover .title-selector,
.condition-selector:hover .title-selector,
.display-pH-selector:hover .title-info,
.display-temp-selector:hover .title-info,
.control-selector:hover .title-selector,
.display-target-recognize:hover .title-info,
.display-position:hover .title-info {
	letter-spacing: 2px;
	transition: 0.5s;
	background: #9b59b6;
} 

.main-btn-command input:hover,
.main-btn-command a:hover {
	background: linear-gradient(-135deg, #71b7e6, #9b59b6);
	color: #fff;
}

.error-msg {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.xp-condition-selector {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 40px;
}

.condition-selector,
.display-pH-selector,
.display-temp-selector,
.control-selector,
.display-target-recognize,
.display-position {
	width: 33%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.info,
.control-selected {
	display: flex;
	align-items: center;
	justify-content: center;
}