.project-details-container {
	padding: 20px;
}

.project-details-card {
	display: flex;
	height: 100%;
	width: 100%;
	background: white;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	align-items: center;
}

.project-details-card .main-info-button-command {
	display: flex;
	flex-direction: column;
	width: 33%;
	padding-left: 16px;
}

.project-details-card .main-info-button-command .main-info {
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
}
.project-details-card .main-info-button-command .main-info h4 {
	margin-top: 16px;
}
.project-details-card .main-info-button-command .main-info .summary-success {
	display : flex;
	align-items: center;
}
.project-details-card .main-info-button-command .main-info .summary-success img {
	height: 16px;
	width: 16px;
	margin-left: 16px;
}

.project-details-card .main-info-button-command .main-info .project-name
	{
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 16px;
}

.project-details-card .main-info-button-command .main-info .customer-name
	{
	font-weight: 600;
	font-size: 16px;
}

.project-details-card .main-info-button-command .button-command {
	width: 100%;
	display: flex;
}

.project-details-card .main-info-button-command .button-command form input,
.similar-project-details-btn
	{
	outline: none;
	border: none;
	height: 64px;
	width: 128px;
	border-radius: 5px;
	margin: 0 16px 16px 0;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
}

.similar-project-details-btn {
	height: 24px;
	width: 48px;
}

.project-details-card .main-info-button-command .button-command form input:hover,
.similar-project-details-btn:hover
	{
	background: linear-gradient(-135deg, #71b7e6, #9b59b6);
	color: #fff;
}

.project-details-container .project-details-card .supplementary-info {
	display: flex;
	flex-direction: column;
	margin-left: 16px;
}

.project-details-container .project-details-card .supplementary-info div
	{
	margin-bottom: 32px;
}

.project-details-container .project-details-card .supplementary-info .subscription-info,
	.project-details-container .project-details-card .supplementary-info .similar-project,
	.project-details-container .project-details-card .supplementary-info .comment-info
	{
	display: flex;
	flex-direction: column;
}
.project-details-container .project-details-card .supplementary-info .subscription-info h4,
.project-details-container .project-details-card .supplementary-info .similar-project h4,
.project-details-container .project-details-card .supplementary-info .comment-info h4 {
	margin-bottom: 16px;
}

.experiment-container {
	width: 100%;
	margin-top: 16px;
}

.experiment-card-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 16px;
}

.experiment-card-container .card-container {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.experiment-card-container .card-container div {
	margin: 0 16px 16px 0;
}

.experiment-card-container .move-left-arrow {
	left: 0;
}

.experiment-card-container .move-right-arrow {
	right: 0;
}

.experiment-card-container .card-container .experiment-card {
	width: calc(25% - 20px);
	height: 300px;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	padding: 16px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.experiment-card-container .card-container .experiment-card .experiment-card-info {
	margin: unset;
}
.experiment-card-container .card-container .experiment-card .experiment-card-info div {
	margin-bottom: 8px;
}

body > div.main-container > div.project-details-container > div > div.supplementary-info > div:nth-child(7) {
	margin-top: 16px;
}

#_t67 {
	width: 600px;
}

#_t70 {
	width: 600px;
}

.experiment-card-container .card-container .experiment-card .btn-card-command {
	margin: unset;
}

.experiment-card-container .card-container .experiment-card form {
	display: flex;
}

.experiment-card-container .card-container .experiment-card .btn-card-command form .link {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.experiment-card-container .card-container .experiment-card form input,
.experiment-card-container .card-container .experiment-card .btn-card-command form .link {
	outline: none;
	border: none;
	height: 42px;
	width: 100%;
	margin: 0 8px 0 8px;
	border-radius: 5px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
}
.experiment-validated-container .experiment-card-container .card-container .btn-card-command form input {
	width: 50%;
}
.experiment-validated-container .experiment-card-container .card-container .btn-card-command form div {
	width: 50%;
	margin: 0 8px 0 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.experiment-validated-container .experiment-card-container .card-container .btn-card-command form div img {
	width: 32px;
	height: 32px;
}

.experiment-card-container .card-container .experiment-card form input:hover
	{
	background: linear-gradient(-135deg, #71b7e6, #9b59b6);
	color: #fff;
}

.experiment-container .experiment-validated-container {
	margin-top: 16px;
}

.dateclosing-and-imgsuccess {
	display: flex;
	align-items: center;
}

.dateclosing-and-imgsuccess img {
	margin-left: 16px;
	width: 16px;
	height: 16px;	
}

.one-similar-project {
	display: flex;
	align-items: center;
}

.one-similar-project form{
	display: flex;
	align-items: center;
	justify-content: center;
}

.similar-project-details-btn {
	margin: 0;
	margin-left: 16px;
}

@media ( max-width : 1100px) {
	.experiment-card-container .card-container .experiment-card {
		width: calc(50% - 20px);
	}
	.project-details-card .main-info-button-command {
		width: 100%;
	}
	.project-details-card {
		display: block;
	}
	.project-details-container .project-details-card .supplementary-info {
		margin-top: 16px;
	}
	.project-details-card .main-info-button-command .main-info {
		margin-bottom: 16px;
	}
}
@media ( max-width : 620px) {
	.experiment-card-container .card-container .experiment-card {
		width: 100%;
	}
}
@media ( max-width : 520px) {
	.experiment-card-container .card-container .experiment-card {
		width: 100%;
	}
}