.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding : 16px;
}
.main-title {
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 16px;
}
.main-form {
	background: white;
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	width: 50%;
}
.section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.title{
	font-weight: 500;
	font-size: 24px;
	margin : 8px 0 8px 0;
	width: 100%;
}
.label-input,
.label-select {
	width: 66%;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 8px;
}
.label{
	height: 100%;
	width: 25%;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	background: #49B393;
	color: white;
	letter-spacing: 1px;
	transition: 0.5s;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section:hover .label{
	letter-spacing: 2px;
	transition: 0.5s;
	background: #9b59b6;
}
.input,
.select {
	height: 100%;
	width: 75%;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	letter-spacing: 1px;
	font-weight: 500;
	color: grey;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.label-multi-checkbox{
	width: 100%;
}
.checkbox-title{
	font-weight: 500;
	font-size: 16px;
	margin: 8px 0 8px 0;
}
.checkbox-list{
	width: 100%;
}
.checkbox-list tbody{
	width: 100%;
}
.checkbox-list tbody tr{
	width: 100%;
	display: flex;
	align-items: center;
}
.checkbox-list tbody tr td{
	margin-right: 8px;
	width: calc(33% - 8px);
	display: flex;
	align-items: center;
}
.checkbox-list tbody tr td input{
	margin-right: 8px;
}
.text-area{
	width: 75%;
	height: 128px;
}
.btn-command {
	margin-top: 16px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.btn-command input {
	outline: none;
	border: none;
	height: 64px;
	width: calc(33% - 32px);
	border-radius: 5px;
	margin: 0 16px 0 16px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
}
.btn-command input:hover {
	background: linear-gradient(-135deg, #71b7e6, #9b59b6);
	color: #fff;
}

.warning-msg{
	color: red;
	font-weight: 500;
}