.form-main-container {
	display: flex;
	justify-content: center;
	padding: 16px;
	height: 1380px;
}

.form-main-container .form-result-container {
	background: white;
	width: 900px;
	height: 660px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	padding: 16px;
}

.form-main-container .round-form-result-container {
	height: 100%;
	width: 100%;
}

.form-main-container .form-result-container .main-title {
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 16px;
}

.form-main-container .form-result-container .main-title:before {
	content: '';
	position: absolute;
	bottom: calc(100% - 75px);
	height: 3px;
	width: 200px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.form-main-container .form-result-container .project-experiment-selector
	{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

.form-main-container .form-result-container .project-experiment-selector .project-selector,
	.form-main-container .form-result-container .project-experiment-selector .experiment-selector
	{
	height: 40px;
	width: 33%;
	display: flex;
}

.form-main-container .form-result-container .project-experiment-selector .round-selector,
	.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution .dilution-selector
	{
	height: 40px;
	width: 25%;
	display: flex;
}

.form-main-container .form-result-container .project-experiment-selector .project-selector .project-name-shortcut,
	.form-main-container .form-result-container .project-experiment-selector .experiment-selector .motherPlate-name-shortcut
	{
	height: 100%;
	width: 66%;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	letter-spacing: 1px;
	font-weight: 500;
	color: grey;
	background: white;
}

.form-main-container .form-result-container .project-experiment-selector .project-selector label,
	.form-main-container .form-result-container .project-experiment-selector .experiment-selector label,
	.form-main-container .form-result-container .project-experiment-selector .round-selector label,
	.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution .dilution-selector label
	{
	height: 100%;
	width: 33%;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	background: #49B393;
	color: white;
	letter-spacing: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	font-size: 12px;
}

#addResultForm>div>div>div.input-result-container>div:nth-child(1)>span
	{
	margin-top: 16px;
}

.form-main-container .form-result-container .project-experiment-selector .project-selector:hover :first-child,
	.form-main-container .form-result-container .project-experiment-selector .experiment-selector:hover :first-child,
	.form-main-container .form-result-container .project-experiment-selector .round-selector:hover :first-child,
	.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution .dilution-selector:hover :first-child
	{
	letter-spacing: 2px;
	transition: 0.5s;
	background: #9b59b6;
}

.form-main-container .form-result-container .project-experiment-selector .project-selector select,
	.form-main-container .form-result-container .project-experiment-selector .experiment-selector select,
	.form-main-container .form-result-container .project-experiment-selector .round-selector select,
	.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution .dilution-selector select
	{
	height: 100%;
	width: 66%;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 12px;
	color: grey;
}

.form-main-container .form-result-container .project-experiment-selector .project-selector select *,
	.form-main-container .form-result-container .project-experiment-selector .experiment-selector select *,
	.form-main-container .form-result-container .project-experiment-selector .round-selector select *,
	.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution .dilution-selector select *
	{
	font-weight: 500;
	color: black;
}

.form-main-container .round-form-result-container .input-result-container
	{
	width: calc(100% - 32px);
}

.form-main-container .round-form-result-container .input-result-container .input-calcul
	{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 16px;
}

.form-main-container .round-form-result-container .input-result-container .input-calcul .kind-result-title
	{
	width: 100%;
	text-align: left;
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 16px;
	font-weight: 500;
}

.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution
	{
	width: 85%;
	border: 1px solid navy;
	padding: 16px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: space-evenly;
}

.form-main-container .round-form-result-container .input-result-container .input-calcul .for-input
	{
	height: 150px;
}

.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution
	{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution input
	{
	height: 40px;
	width: 80px;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	margin-right: 16px;
}

.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution input:focus,
	.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution input:valid
	{
	border-color: #9b59b6;
}

.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution .dilution-selector,
	.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution .kind-analyze
	{
	width: 20%;
	margin-right: 16px;
}

.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution .kind-result,
	.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution .unity
	{
	font-weight: 300;
	font-size: 16px;
	margin-right: 16px;
}

.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution .result
	{
	width: 125px;
	text-align: right;
	margin-right: 16px;
}

.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution img
	{
	width: 16px;
	height: 16px;
	margin-right: 16px;
}

.form-main-container .round-form-result-container .input-result-container .input-calcul .for-result
	{
	height: 150px;
	width: 85%;
}

.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .by-results
	{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .by-results div
	{
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution .kind-analyze
	{
	display: flex;
	width: 40%;
}

.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution .kind-analyze div
	{
	display: flex;
	height: 100%;
	width: 66%;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 5px 10px rgb(0 0 0/ 15%);
	letter-spacing: 1px;
	font-weight: 500;
	color: grey;
	background: white;
}

.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution .kind-analyze .analyze-result-title
	{
	height: 100%;
	width: 33%;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 5px 10px rgb(0 0 0/ 15%);
	background: #49B393;
	color: white;
	letter-spacing: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	font-size: 12px;
}

#addResultForm\:enrichment, #addResultForm\:ratio {
	width: 125px;
	text-align: center;
	margin-right: 16px;
}

.form-main-container .form-result-container .success-cause-selector {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.form-main-container .form-result-container .success-cause-selector .success-selector
	{
	margin-bottom: 16px;
}

.form-main-container .form-result-container .success-cause-selector .success-selector .how-did-it-work
	{
	font-weight: 700;
	font-size: 32px;
}

.form-main-container .form-result-container .success-cause-selector .success-selector table
	{
	width: 100%;
}

.form-main-container .form-result-container .success-cause-selector .success-selector table tr
	{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.form-main-container .form-result-container .success-cause-selector .success-selector table tr td
	{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.form-main-container .form-result-container .success-cause-selector .success-selector table tr td input
	{
	margin-right: 8px;
	background: #49B393;
	width: 16px;
	height: 16px;
}

.form-main-container .form-result-container .success-cause-selector .cause-generator
	{
	height: 150px;
	width: 500px;
}

.form-main-container .form-result-container .success-cause-selector .cause-generator textarea
	{
	height: 100%;
	width: 100%;
}

.messages {
	display: flex;
	height: 150px;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.form-main-container .form-result-container .btn-command {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-main-container .form-result-container .btn-command input,
	.form-main-container .form-result-container .btn-command a {
	outline: none;
	border: none;
	height: 64px;
	width: 128px;
	border-radius: 5px;
	margin: 0 16px 0 16px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
}

.form-main-container .form-result-container .btn-command a {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-main-container .form-result-container .btn-command input:hover,
	.form-main-container .form-result-container .btn-command a:hover {
	background: linear-gradient(-135deg, #71b7e6, #9b59b6);
	color: #fff;
}

@media ( max-width : 1520px) {
	.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution .dilution-selector
		{
		width: 33%;
	}
}

@media ( max-width : 1365px) {
	.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution .input-calcul-by-dilution .kind-result
		{
		text-align: center;
	}
}

@media ( max-width : 1197px) {
	.form-main-container .round-form-result-container .input-result-container .input-calcul .input-calcul-all-dilution
		{
		width: 100%;
	}
}

@media ( max-width : 1165px) {
	#addResultForm>div>div>div.input-result-container>div:nth-child(3)>div>div>div:nth-child(1)>div:nth-child(1),
		#addResultForm>div>div>div.input-result-container>div:nth-child(3)>div>div>div:nth-child(2)>div:nth-child(1),
		#addResultForm>div>div>div.input-result-container>div:nth-child(3)>div>div>div:nth-child(1)>div:nth-child(2),
		#addResultForm>div>div>div.input-result-container>div:nth-child(3)>div>div>div:nth-child(2)>div:nth-child(2)
		{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 80px;
		width: 50%;
	}
	#addResultForm>div>div>div.input-result-container>div:nth-child(3)>div {
		height: 300px;
	}
	#addResultForm>div>div>div.input-result-container>div:nth-child(3)>div>div label,
		#addResultForm>div>div>div.input-result-container>div:nth-child(3)>div>div span
		{
		border-radius: 5px 5px 0 0;
		width: 66%;
	}
}

@media ( max-width : 1040px) {
	.form-main-container .form-result-container .project-experiment-selector .project-selector,
		.form-main-container .form-result-container .project-experiment-selector .experiment-selector
		{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 80px;
		width: 50%;
	}
	.form-main-container .form-result-container .project-experiment-selector .project-selector select,
		.form-main-container .form-result-container .project-experiment-selector .experiment-selector select
		{
		border-radius: 0 0 5px 5px;
		text-align: center;
	}
	.form-main-container .form-result-container .project-experiment-selector .project-selector label,
		.form-main-container .form-result-container .project-experiment-selector .experiment-selector label
		{
		border-radius: 5px 5px 0 0;
		width: 66%;
	}
}

@media ( max-width : 690px) {
	.form-main-container .form-result-container .main-title {
		font-size: 24px;
	}
	.form-main-container .form-result-container .main-title:before {
		bottom: 930px;
		width: 150px;
	}
}