.project-details-container .project-details-card .supplementary-info .round-nb-title {
	font-weight: 500;
	font-size: 16px;
}
.experiment-card-container .card-container .screening-round-card {
	width: calc(33% - 20px);
	height: 350px;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	padding: 16px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media ( max-width : 1250px) {
	.experiment-card-container .card-container .screening-round-card {
		width: calc(50% - 20px);
	}
}
@media ( max-width : 860px) {
	.experiment-card-container .card-container .screening-round-card {
		width: calc(75% - 20px);
	}
}
@media ( max-width : 630px) {
	.experiment-card-container .card-container .screening-round-card {
		width: 100%;
	}
}