#search-by-project {
	display: flex;
	flex-direction: column;
}

#search-project-main-title {
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 16px;
}

#criteria-for-project-search {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

#search-form-by-project {
	display: flex;
	flex-direction: column;
	background: white;
	padding: 16px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	height: 350px;
	justify-content: space-around;
}

#search-field-by-project {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
}

#input-all-subscription-field {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.one-input-field {
	height: 40px;
	width: 30%;
	display: flex;
	margin: 8px;
}

.one-input-field .sub-input-field {
	height: 40px;
	width: 50%;
	display: flex;
}

#title-customer-surname {
	font-size: 13px;
}

#input-status-field {
	height: 100px;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.one-input-field .input-title {
	height: 100%;
	width: 33%;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	background: #49B393;
	color: white;
	letter-spacing: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	font-size: 12px;
	text-align: center;
}

.one-input-field:hover .input-title {
	letter-spacing: 2px; transition : 0.5s;
	background: #9b59b6;
	transition: 0.5s;
}

.one-input-field .input-field, .one-input-field select,
	#criteria-for-project-search\:statusSelector {
	height: 100%;
	width: 66%;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 12px;
	color: grey;
}

#criteria-for-project-search\:subscriptionList {
	width: 100%;
	border-radius: 5px;
}

#title-status {
	width: 22%;
}

#criteria-for-project-search\:statusSelector {
	border: 1px solid black;
	width: 40%;
}

#criteria-for-project-search\:statusSelector>tbody>tr>td {
	display: flex;
	align-items: center;
	margin-right: 8px;
}

#criteria-for-project-search\:statusSelector>tbody>tr>td>label {
	font-weight: 500;
	font-size: 12px;
	text-align: center;
}

#criteria-for-project-search\:statusSelector>tbody>tr>td>input {
	margin-right: 8px;
}

.btn-command {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-command input {
	outline: none;
	border: none;
	height: 64px;
	width: 128px;
	border-radius: 5px;
	margin: 0 16px 0 16px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
}

.btn-command input:hover {
	background: linear-gradient(-135deg, #71b7e6, #9b59b6);
	color: #fff;
}

.card .title-info-container {
	font-size: 15px;
	margin-top: 20px;
	font-weight: 600;
}