.result-success-main-container,
.project-success-main-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.result-success-main-container .result-success-container,
.project-success-container {
	background: white;
	width: 675px;
	height: 450px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
}
.result-success-main-container .result-success-container .title,
.project-success-container .title {
	font-weight: 700;
	font-size: 32px;
}
.result-success-main-container .result-success-container .citation,
.project-success-container .citation {
	font-weight: 500;
	font-size: 16px;
}
.result-success-main-container .result-success-container img,
.project-success-container img {
	width: 128px;
	height: 128px;
}
.result-success-main-container .result-success-container .btn-command,
.project-success-container .btn-command {
	width: 100%;
}
.result-success-main-container .result-success-container .btn-command form,
.project-success-container .btn-command form {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.result-success-main-container .result-success-container .btn-command form input,
.result-success-main-container .result-success-container .btn-command form a,
.btn-command form input,
.btn-command form a {
	outline: none;
	border: none;
	height: 64px;
	width: calc(33% - 32px);
	border-radius: 5px;
	margin: 0 16px 0 16px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
}
.result-success-main-container .result-success-container .btn-command form a,
.btn-command form a {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.result-success-main-container .result-success-container .btn-command form input:hover,
.result-success-main-container .result-success-container .btn-command form a:hover,
.btn-command form input:hover,
.btn-command form a:hover {
	background: linear-gradient(-135deg, #71b7e6, #9b59b6);
	color: #fff;
}