<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<ui:composition template="/architecture.xhtml">
	<ui:define name="head">
		<title>Hybribody - Mother Plate Picking New Result</title>
		<h:outputStylesheet library="css" name="success.css" />
	</ui:define>
	<ui:define name="content">
		<div class="result-success-main-container">
			<div class="result-success-container">
				<span class="title">Results add successfully</span>
				<span class="citation">It's one small click for Man, one giant leap for Science</span>
				<img src="/resources/picture/big_success.png" />
				<div class="btn-command">
					<h:form>
						<h:commandButton value="See result added" action="#{mbXPDetails.loadExperimentDetails(mbAddResult.xp.id)}" />
						<a class="link" href="addResult.xhtml">New result</a>
						<a class="link" href="newExperiment.xhtml">New Experiment</a>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>