<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<ui:composition template="/architecture.xhtml">
	<ui:define name="head">
		<title>Hybribody - Mother Plate Picking New Result</title>
		<h:outputStylesheet library="css" name="resultForm.css" />
	</ui:define>
	<ui:define name="content">
		<h:form id="addResultForm">
			<div class="form-main-container">
				<div class="form-result-container">
					<span class="main-title">New Mother Plate Picking Result</span>
					<div class="project-experiment-selector">
						<div class="project-selector">
							<h:outputLabel value="Project" for="projectList" />
							<h:selectOneMenu id="projectList"
								value="#{mbAddResult.selectedProject}">
								<f:ajax
									listener="#{mbAddResult.onProjectChangeForMotherPlate()}"
									update="motherPlateList" render="@form" />
								<f:selectItem itemLabel="Choose a project" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{mbAddResult.projects}" var="project"
									itemLabel="#{project.name}" itemValue="#{project.idproject}" />
							</h:selectOneMenu>
						</div>
						<div class="experiment-selector">
							<h:outputLabel value="Plate" for="motherPlateList" />
							<h:selectOneMenu id="motherPlateList"
								value="#{mbAddResult.selectedMotherPlate}">
								<f:ajax render="@form" />
								<f:selectItem itemLabel="Choose a plate" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{mbAddResult.motherPlates}"
									var="motherPlate" itemLabel="#{motherPlate.name}"
									itemValue="#{motherPlate.id}" />
							</h:selectOneMenu>
						</div>
					</div>
					<div class="success-cause-selector">
						<div class="success-selector">
							<h:outputLabel class="how-did-it-work" value="How did it work? "
								for="successCheckbox" />
							<h:selectOneRadio id="successCheckbox"
								value="#{mbAddResult.selectedSuccess}">
								<f:selectItem itemValue="true" itemLabel="Success" />
								<f:selectItem itemValue="false" itemLabel="Fail" />
							</h:selectOneRadio>
						</div>
						<div class="cause-generator">
							<h:inputTextarea value="#{mbAddResult.inputFailure}" />
						</div>
					</div>
					<div class="btn-command">
						<h:commandButton value="Confirm"
							action="#{mbAddResult.addMotherPlateResult()}" />
						<a href="addResult.xhtml">Cancel</a>
					</div>
					<div class="messages">
						<h:message for="projectList" style="color: red" />
						<h:message for="motherPlateList" style="color: red" />
						<h:message id="authorization" for="authorization" style="color: red" />
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>