<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/architecture.xhtml">
	<ui:define name="head">
		<title>Hybribody - Screening Round New Result</title>
		<h:outputStylesheet library="css" name="resultForm.css" />
	</ui:define>
	<ui:define name="content">
		<h:form id="addResultForm">
			<div class="form-main-container">
				<div class="form-result-container round-form-result-container">
					<span class="main-title">New Screening Round Result</span>
					<div
						class="project-experiment-selector round-project-experiment-selector">
						<div class="project-selector">
							<h:outputLabel value="Project" for="projectList" />
							<h:selectOneMenu id="projectList"
								value="#{mbAddResult.selectedProject}">
								<f:ajax listener="#{mbAddResult.onProjectChangeForScreening()}"
									update="screeningList" render="@form" />
								<f:ajax listener="#{mbAddResult.onScreeningChangeForRound()}"
									update="roundList" render="@form" />
								<f:selectItem itemLabel="Choose a project" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{mbAddResult.projects}" var="project"
									itemLabel="#{project.name}" itemValue="#{project.idproject}" />
							</h:selectOneMenu>
						</div>
						<div class="experiment-selector">
							<h:outputLabel value="Screening" for="screeningList" />
							<h:selectOneMenu id="screeningList"
								value="#{mbAddResult.selectedScreening}">
								<f:ajax listener="#{mbAddResult.onScreeningChangeForRound()}"
									update="roundList" render="@form" />
								<f:selectItem itemLabel="Choose a screening" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{mbAddResult.screenings}" var="screening"
									itemLabel="#{screening.name}" itemValue="#{screening.id}" />
							</h:selectOneMenu>
						</div>
						<div class="round-selector">
							<h:outputLabel value="Round" for="roundList" />
							<h:selectOneMenu id="roundList"
								value="#{mbAddResult.selectedRound}">
								<f:ajax render="@form" />
								<f:selectItem itemLabel="Choose a round" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{mbAddResult.rounds}" var="round"
									itemLabel="Round #{round.nb}" itemValue="#{round.id}" />
							</h:selectOneMenu>
						</div>
					</div>
					<div class="input-result-container">
						<div class="input-calcul">
							<span class="kind-result-title">Input Calcul</span>
							<div class="input-calcul-all-dilution for-input">
								<div class="input-calcul-by-dilution">
									<div class="dilution-selector">
										<h:outputLabel value="Dilution" for="dilutionList" />
										<h:selectOneMenu id="dilutionList"
											value="#{mbAddResult.selectedInputDilution1}">
											<f:ajax listener="#{mbAddResult.calculateRoundResults()}"
												update="inputresult1" render="@form" />
											<f:selectItem itemLabel="Choose a dilution" itemValue=""
												noSelectionOption="true" />
											<f:selectItems id="dilution1"
												value="#{mbAddResult.inputDilutions}" var="dilution"
												itemLabel="#{dilution.name}"
												itemValue="#{dilution.dilutionValue}" />
										</h:selectOneMenu>
									</div>
									<h:graphicImage value="/resources/picture/plus.png" />
									<span class="kind-result">Enter the number of clone(s)</span>
									<h:inputText pt:type="number" value="#{mbAddResult.inputClone1}">
										<f:ajax event="change"
											listener="#{mbAddResult.calculateRoundResults()}"
											update="inputresult1" render="@form" />
									</h:inputText>
									<h:graphicImage value="/resources/picture/equal.png" />
									<h:outputLabel class="result" id="inputresult1"
										value="#{mbAddResult.inputResult1}" />
									<span class="unity">phage(s)</span>
								</div>
								<div class="input-calcul-by-dilution">
									<div class="dilution-selector">
										<h:outputLabel value="Dilution" for="dilutionList2" />
										<h:selectOneMenu id="dilutionList2"
											value="#{mbAddResult.selectedInputDilution2}">
											<f:ajax listener="#{mbAddResult.calculateRoundResults()}"
												update="inputresult2" render="@form" />
											<f:selectItem itemLabel="Choose a dilution" itemValue=""
												noSelectionOption="true" />
											<f:selectItems id="dilution2"
												value="#{mbAddResult.inputDilutions}" var="dilution"
												itemLabel="#{dilution.name}"
												itemValue="#{dilution.dilutionValue}" />
										</h:selectOneMenu>
									</div>
									<h:graphicImage value="/resources/picture/plus.png" />
									<span class="kind-result">Enter the number of clone(s)</span>
									<h:inputText pt:type="number" value="#{mbAddResult.inputClone2}">
										<f:ajax event="change"
											listener="#{mbAddResult.calculateRoundResults()}"
											update="inputresult2" render="@form" />
									</h:inputText>
									<h:graphicImage value="/resources/picture/equal.png" />
									<h:outputLabel class="result" id="inputresult2"
										value="#{mbAddResult.inputResult2}" />
									<span class="unity">phage(s)</span>
								</div>
							</div>
						</div>
						<div class="input-calcul">
							<span class="kind-result-title">Output Calcul</span>
							<div class="input-calcul-all-dilution">
								<div class="input-calcul-by-dilution">
									<div class="dilution-selector">
										<h:outputLabel value="Dilution" for="dilutionList4" />
										<h:selectOneMenu id="dilutionList4"
											value="#{mbAddResult.selectedOutputDilution1}">
											<f:ajax listener="#{mbAddResult.calculateRoundResults()}"
												update="outputresult1" render="@form" />
											<f:selectItem itemLabel="Choose a dilution" itemValue=""
												noSelectionOption="true" />
											<f:selectItems id="dilution4"
												value="#{mbAddResult.outputDilutions}" var="dilution"
												itemLabel="#{dilution.name}"
												itemValue="#{dilution.dilutionValue}" />
										</h:selectOneMenu>
									</div>
									<h:graphicImage value="/resources/picture/plus.png" />
									<span class="kind-result">Enter the number of clone(s)</span>
									<h:inputText pt:type="number" value="#{mbAddResult.outputClone1}">
										<f:ajax event="change"
											listener="#{mbAddResult.calculateRoundResults()}"
											update="outputresult1" render="@form" />
									</h:inputText>
									<h:graphicImage value="/resources/picture/equal.png" />
									<h:outputLabel class="result" id="outputresult1"
										value="#{mbAddResult.outputResult1}" />
									<span class="unity">phage(s)</span>
								</div>
								<div class="input-calcul-by-dilution">
									<div class="dilution-selector">
										<h:outputLabel value="Dilution" for="dilutionList5" />
										<h:selectOneMenu id="dilutionList5"
											value="#{mbAddResult.selectedOutputDilution2}">
											<f:ajax listener="#{mbAddResult.calculateRoundResults()}"
												update="outputresult2" render="@form" />
											<f:selectItem itemLabel="Choose a dilution" itemValue=""
												noSelectionOption="true" />
											<f:selectItems id="dilution5"
												value="#{mbAddResult.outputDilutions}" var="dilution"
												itemLabel="#{dilution.name}"
												itemValue="#{dilution.dilutionValue}" />
										</h:selectOneMenu>
									</div>
									<h:graphicImage value="/resources/picture/plus.png" />
									<span class="kind-result">Enter the number of clone(s)</span>
									<h:inputText pt:type="number" value="#{mbAddResult.outputClone2}">
										<f:ajax event="change"
											listener="#{mbAddResult.calculateRoundResults()}"
											update="outputresult2" render="@form" />
									</h:inputText>
									<h:graphicImage value="/resources/picture/equal.png" />
									<h:outputLabel class="result" id="outputresult2"
										value="#{mbAddResult.outputResult2}" />
									<span class="unity">phage(s)</span>
								</div>
								<div class="input-calcul-by-dilution">
									<div class="dilution-selector">
										<h:outputLabel value="Dilution" for="dilutionList6" />
										<h:selectOneMenu id="dilutionList6"
											value="#{mbAddResult.selectedOutputDilution3}">
											<f:ajax listener="#{mbAddResult.calculateRoundResults()}"
												update="outputresult3" render="@form" />
											<f:selectItem itemLabel="Choose a dilution" itemValue=""
												noSelectionOption="true" />
											<f:selectItems id="dilution6"
												value="#{mbAddResult.outputDilutions}" var="dilution"
												itemLabel="#{dilution.name}"
												itemValue="#{dilution.dilutionValue}" />
										</h:selectOneMenu>
									</div>
									<h:graphicImage value="/resources/picture/plus.png" />
									<span class="kind-result">Enter the number of clone(s)</span>
									<h:inputText pt:type="number" value="#{mbAddResult.outputClone3}">
										<f:ajax event="change"
											listener="#{mbAddResult.calculateRoundResults()}"
											update="outputresult3" render="@form" />
									</h:inputText>
									<h:graphicImage value="/resources/picture/equal.png" />
									<h:outputLabel class="result" id="outputresult3"
										value="#{mbAddResult.outputResult3}" />
									<span class="unity">phage(s)</span>
								</div>
							</div>
						</div>
						<div class="input-calcul">
							<span class="kind-result-title">Analyze</span>
							<div class="input-calcul-all-dilution for-result">
								<div class="input-calcul-by-dilution by-results">
									<div>
										<div class="kind-analyze">
											<span class="analyze-result-title">Mean Input</span>
											<div>
												<h:outputLabel class="result" id="mean-input"
													value="#{mbAddResult.meanInput}" />
												<span class="unity">phage(s)</span>
											</div>
										</div>
										<div class="kind-analyze">
											<span class="analyze-result-title">Mean Output</span>
											<div>
												<h:outputLabel class="result" id="mean-output"
													value="#{mbAddResult.meanOutput}" />
												<span class="unity">phage(s)</span>
											</div>
										</div>
									</div>
									<div>
										<div class="kind-analyze">
											<span class="analyze-result-title">Ratio</span>
											<div>
												<h:outputLabel class="result-ratio-enrichment" id="ratio"
													value="#{mbAddResult.ratio}" />
											</div>
										</div>
										<div class="kind-analyze">
											<h:outputLabel class="analyze-result-title"
												value="Enrichment" />
											<div>
												<h:outputLabel
													rendered="#{mbAddResult.verifyPreviousRoundExist() == true}"
													class="result" id="enrichment"
													value="#{mbAddResult.enrichment}" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="success-cause-selector">
						<div class="success-selector">
							<h:outputLabel class="how-did-it-work" value="How did it work? "
								for="successCheckbox" />
							<h:selectOneRadio id="successCheckbox"
								value="#{mbAddResult.selectedSuccess}">
								<f:selectItem itemValue="true" itemLabel="Success" />
								<f:selectItem itemValue="false" itemLabel="Fail" />
							</h:selectOneRadio>
						</div>
						<div class="cause-generator">
							<h:inputTextarea id="input-failure"
								value="#{mbAddResult.inputFailure}" pt:placeholder="Why?" />
						</div>
					</div>
					<div class="btn-command">
						<h:commandButton value="Confirm"
							action="#{mbAddResult.addScreeningRoundResult()}" />
						<a href="addResult.xhtml">Cancel</a>
					</div>
					<div class="messages">
						<h:message for="projectList" style="color: red" />
						<h:message for="screeningList" style="color: red" />
						<h:message for="roundList" style="color: red" />
						<h:message id="authorization" for="authorization" style="color: red" />
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>