<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<ui:insert name="head"></ui:insert>
	<h:outputStylesheet library="css" name="arch.css" />
</h:head>
<h:body>
	<div class="headbar">
		<div class="logo-headbar">
			<h:graphicImage value="/resources/picture/logo_PNG.png" />
		</div>
		<div class="app-name">Hybribody Software</div>
		<ui:insert name="headcontent"></ui:insert>
	</div>
	<div class="sidebar">
		<ul class="sidebar-links">
			<li class="sidebar-one-link"><a href="home.xhtml"> <img
					class="sidebar-logo-one-link" src="resources/picture/home.png" />
			</a>
				<ul class="sidebar-pop-menu">
					<li><a class="main-pop-menu" href="home.xhtml">Home</a></li>
				</ul></li>
			<li class="sidebar-one-link"><a> <img
					class="sidebar-logo-one-link"
					src="resources/picture/laboratory.png" />
			</a>
				<ul class="sidebar-pop-menu">
					<li><a class="main-pop-menu">Laboratory</a></li>
					<li><a class="sub-pop-menu" href="labProject.xhtml">In
							Progress</a></li>
					<li><h:form>
							<h:commandButton id="btn-type" class="sub-pop-menu"
								value="New Project"
								action="#{mbProject.displayNewProjectMode()}" />
						</h:form></li>
					<li><a class="sub-pop-menu" href="newExperiment.xhtml">New
							Experiment</a></li>
					<li><a class="sub-pop-menu" href="addResult.xhtml">New
							Result</a></li>
							<li><a class="sub-pop-menu" href="addResult.xhtml">New Consumable*</a></li>
							<li><a class="sub-pop-menu" href="addResult.xhtml">New Storage*</a></li>
				</ul></li>
			<li class="sidebar-one-link"><a> <img
					class="sidebar-logo-one-link"
					src="resources/picture/search_icon.png" />
			</a>
				<ul class="sidebar-pop-menu">
					<li><a class="main-pop-menu">Search</a></li>
					<li><h:form>
							<h:commandButton id="btn-type" class="sub-pop-menu"
								value="Project"
								action="#{mbSearch.displayAllProjectsForSearching()}" />
						</h:form></li>
					<li><a class="sub-pop-menu" href="#">Experiment*</a></li>
					<li><a class="sub-pop-menu" href="#">Customer*</a></li>
					<li><a class="sub-pop-menu" href="#">Antibody*</a></li>
					<li><a class="sub-pop-menu" href="#">Consumable*</a></li>
					<li><a class="sub-pop-menu" href="#">Storage*</a></li>
				</ul></li>
				<li class="sidebar-one-link"><a> <img
					class="sidebar-logo-one-link"
					src="resources/picture/user.png" />
			</a>
				<ul class="sidebar-pop-menu">
					<li><h:outputLabel class="main-pop-menu" value="#{mbConnection.employee.name} #{mbConnection.employee.surname}" /></li>
					<li><a class="sub-pop-menu" href="#">My Informations*</a></li>
					<li><a class="sub-pop-menu" href="#">Settings*</a></li>
				</ul></li>
			<li class="sidebar-one-link"><a> <img
					class="sidebar-logo-one-link" src="resources/picture/logout.png" />
			</a>
				<ul class="sidebar-pop-menu">
					<li><h:form>
							<h:commandButton id="btn-type" class="main-pop-menu"
								value="Log Out" action="#{mbConnection.disconnect()}" />
						</h:form></li>
				</ul></li>
		</ul>
	</div>
	<div class="main-container">
		<ui:insert name="lab-command"></ui:insert>
		<ui:insert name="content"></ui:insert>
	</div>
</h:body>
</html>