<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/architecture.xhtml">
	<ui:define name="head">
		<title>Hybribody - Cancel Project Form</title>
		<h:outputStylesheet library="css" name="projectForm.css" />
	</ui:define>
	<ui:define name="content">
		<div class="container">
			<h:outputLabel class="main-title">Cancel a project or not cancel...</h:outputLabel>
			<h:form id="cancel-project-form" class="main-form">
				<div class="section">
					<span class="title">Project</span>
					<div class="label-input">
						<div class="label">Name</div>
						<h:outputLabel class="input" value="#{mbProject.projectToCancel.name}"></h:outputLabel>
					</div>
				</div>
				<div class="section">
					<span class="title">Cancelation Cause</span>
					<h:inputTextarea pt:placeholder="Why do you want cancel this project?" class="text-area"
						value="#{mbProject.newProjectCancelCause}"></h:inputTextarea>
					<div class="error-msg">
						<h:message id="cause-error" for="cause-error"
							style="color: red"></h:message>
					</div>
				</div>
				<div class="section">
					<span class="title">Warning</span>
					<div class="warning-msg">Cancel a project is an irreversible
						action. All the experiments in progress attached to this project will be canceled. Please, be careful about this kind of action.</div>
				</div>
				<div class="btn-command">
					<h:commandButton value="Confirm"
						action="#{mbProject.cancelProject()}"></h:commandButton>
					<h:commandButton action="#{mbProjectDetails.loadProjectDetails(mbProject.projectToCancel.idproject)}" value="Back"></h:commandButton>
				</div>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>