<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/architecture.xhtml">
	<ui:define name="head">
		<title>Hybribody - Project Closed</title>
		<h:outputStylesheet library="css" name="success.css" />
	</ui:define>
	<ui:define name="content">
		<div class="project-success-main-container">
			<div class="project-success-container">
				<div class="title">Project closed successfully</div>
				<div class="citation">A new step in the direction of knowledge</div>
				<img src="/resources/picture/big_success.png" />
				<div class="btn-command">
					<h:form>
						<h:commandButton value="See project closed"
							action="#{mbProjectDetails.loadProjectDetails(mbProjectDetails.fetchLastProjectEdited())}" />
						<h:commandButton value="New Project"
								action="#{mbProject.displayNewProjectMode()}" />
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>