<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/architecture.xhtml">
	<ui:define name="head">
		<title>Hybribody - Close Project Form</title>
		<h:outputStylesheet library="css" name="projectForm.css" />
	</ui:define>
	<ui:define name="content">
		<div class="container">
			<h:outputLabel class="main-title">It's already finished ?</h:outputLabel>
			<h:form id="cancel-project-form" class="main-form">
				<div class="section">
					<span class="title">Project</span>
					<div class="label-input">
						<div class="label">Name</div>
						<h:outputLabel class="input"
							value="#{mbProject.projectToClose.name}"></h:outputLabel>
					</div>
				</div>
				<div class="section">
					<span class="title">Closing status</span>
					<h:selectOneRadio id="successCheckbox"
						value="#{mbProject.selectedSuccess}">
						<f:selectItem itemValue="true" itemLabel="Success" />
						<f:selectItem itemValue="false" itemLabel="Fail" />
					</h:selectOneRadio>
					<h:inputTextarea pt:placeholder="How did it work ?"
						class="text-area" value="#{mbProject.newClosingComment}"></h:inputTextarea>
				</div>
				<div class="btn-command">
					<h:commandButton value="Confirm"
						action="#{mbProject.closeProject()}"></h:commandButton>
					<h:commandButton
						action="#{mbProjectDetails.loadProjectDetails(mbProject.projectToClose.idproject)}"
						value="Back"></h:commandButton>
				</div>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>