<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<ui:composition template="/architecture.xhtml">
	<ui:define name="head">
		<title>Hybribody - Home Page</title>
		<h:outputStylesheet library="css" name="dashBoard.css" />
	</ui:define>
	<ui:define name="content">
		<div class="dashboard-main-container">
			<div class="task-employee-list-container">
				<div class="task-container">
					<span class="title">Recent tasks done</span>
					<div class="tasks">
						<table class="table-tasks">
							<thead>
								<tr>
									<th>Date</th>
									<th>Task</th>
									<th>By</th>
								</tr>
							</thead>
							<tbody>
								<ui:repeat var="task" value="#{mbDashBoard.tasks}">
									<tr>
										<td class="date"><h:outputLabel
												value="#{task.dateFormat}" /></td>
										<td><h:outputLabel value="#{task.taskDone}" /></td>
										<td class="name"><h:outputLabel
												value="#{task.employee.surname} #{task.employee.name}" /></td>
									</tr>
								</ui:repeat>
							</tbody>
						</table>
					</div>
				</div>
				<div class="employee-container">
					<span class="title">The Scientific Team</span>
					<div class="employees">
						<table class="table-employee">
							<thead>
								<tr>
									<th>Date Arriving</th>
									<th>Name</th>
									<th>Initial</th>
									<th>Title</th>
								</tr>
							</thead>
							<tbody>
								<ui:repeat var="employee" value="#{mbDashBoard.employees}">
									<tr>
										<td class="date"><h:outputLabel
												value="#{employee.dateArriving}" /></td>
										<td><h:outputLabel
												value="#{employee.surname} #{employee.name}" /></td>
										<td><h:outputLabel value="#{employee.initial}" /></td>
										<td class="name"><h:outputLabel
												value="#{employee.title.name}" /></td>
									</tr>
								</ui:repeat>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="lab-info-container">
				<div class="stat-project-main-container">
					<div class="project-total">
						<span>Total Project</span>
					</div>
					<div class="stat-project">
						<div class="stat-inProgress">
							<span class="little-title-stat">In Progress</span>
							<div class="value-unity">
								<h:outputLabel
									value="#{mbDashBoard.projectInProgressPercentage}" />
								<span>%</span>
							</div>
						</div>
						<div class="stat-finish-success">
							<span class="little-title-stat">Success</span>
							<div class="value-unity">
								<h:outputLabel
									value="#{mbDashBoard.projectFinishWithSuccessPercentage}" />
								<span>%</span>
							</div>
						</div>
						<div class="stat-finish-fail">
							<span class="little-title-stat">Fail</span>
							<div class="value-unity">
								<h:outputLabel
									value="#{mbDashBoard.projectFinishWithFailPercentage}" />
								<span>%</span>
							</div>
						</div>
						<div class="stat-cancel">
							<span class="little-title-stat">Cancel</span>
							<div class="value-unity">
								<h:outputLabel value="#{mbDashBoard.projectCanceledPercentage}" />
								<span>%</span>
							</div>
						</div>
					</div>
				</div>
				<div class="p-grid">
					<div class="p-col-12 p-lg-6 p-xl-4">
						<div class="card">
							<p:donutChart model="#{mbDashBoard.donutModel}"
								style="width: 100%; height: 415px;" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>