<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<h:head>
	<title>Hybribody - Connection Page</title>
	<h:outputStylesheet library="css" name="index.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div class="fulldesign-app">
		<h:graphicImage class="logo" value="/resources/picture/logo_PNG.png" />
		<div class="typing-title">
			<div class="app-title fixed">Hybribody</div>
			<div class="app-title" id="app-title"></div>
		</div>
	</div>
	<div class="loginForm-container">
		<div class="loginForm-title">Before Science...</div>
		<h:form id="loginForm">
			<div class="login-details">
				<div class="loginInput-details">
					<span class="loginInput-title">Mail</span>
					<h:inputText id="mailInput" class="loginInput-field"
						placeholder="Enter your mail" value="#{mbConnection.mail}"
						required="true" requiredMessage="A mail is required">
					</h:inputText>
				</div>
				<div class="loginInput-details">
					<span class="loginInput-title">Password</span>
					<h:inputSecret id="passwordInput" class="loginInput-field"
						placeholder="Enter your password" value="#{mbConnection.password}"
						required="true" requiredMessage="A password is required">
					</h:inputSecret>
				</div>
			</div>
			<div class="loginForm-buttons">
				<h:commandButton class="connection-button" value="Log In"
					action="#{mbConnection.connection()}" />
				<h:commandButton class="createAccount-button" value="Sign In"
					href="#" />
			</div>
			<div class="error-msg">
				<h:message id="employee-not-connected" for="employee-not-connected"
					style="color: red" />
				<h:message id="loginInput" for="loginInput" style="color: red" />
				<h:message for="mailInput" style="color: red" />
				<h:message for="passwordInput" style="color: red" />
			</div>
		</h:form>
	</div>
	<script type="text/javascript" src="resources/js/textTypingEffect.js"></script>
</h:body>
</html>