<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<ui:composition template="/architecture.xhtml">
	<ui:define name="head">
		<title>Hybribody - Project In Progress</title>
		<h:outputStylesheet library="css" name="lab.css" />
	</ui:define>
	<ui:define name="lab-command">
		<div class="lab-button-command">
			<h:form>
				<h:commandButton id="btn-type" class="link"
					value="New Project" action="#{mbProject.displayNewProjectMode()}" />
			</h:form>
			<a class="link" href="newExperiment.xhtml">New Experiment</a> <a
				class="link" href="addResult.xhtml">New Result</a>
		</div>
		<div class="lab-path">
			<label>Laboratory</label> <img
				src="/resources/picture/right-arrow.png" />
		</div>
	</ui:define>
	<ui:define name="content">
		<div class="lab-title-sortby">
			<h4>Project In Progress</h4>
			<select name="sortingBy">
				<option value="">Sort By</option>
				<option value="">Most Recent</option>
				<option value="">Less Recent</option>
				<option value="">Asc. Project Name</option>
				<option value="">Desc. Project Name</option>
				<option value="">Asc. Customer Name</option>
				<option value="">Desc. Customer Name</option>
			</select>
		</div>
		<div class="projectinprogress-container">
			<ui:repeat var="project"
				value="#{mbLabProjectsInProgress.projectsInProgress}">
				<div class="card">
					<div class="top">
						<h:outputLabel class="name-project" value="#{project.name}" />
						<br />
						<h:outputLabel class="customer"
							value="Dr. #{project.customer.surname}" />
					</div>
					<div class="info">Most Recent Experiment In Progress</div>
					<div class="details">
						<div class="line">
							<h:outputLabel
								value="#{mbLabProjectsInProgress.displayMostRecentXpInProgress(project.idproject)}" />
						</div>
					</div>
					<div class="info">Most Recent Experiment Validated</div>
					<div class="details">
						<div class="line">
							<h:outputLabel
								value="#{mbLabProjectsInProgress.displayMostRecentXpValidated(project.idproject)}" />
						</div>
					</div>
					<div class="info">Created The</div>
					<div class="details">
						<div class="line">
							<h:outputLabel value="#{project.dateCreation}" />
						</div>
					</div>
					<div class="button-command">
						<h:form>
							<h:commandButton class="details-button" value="Details"
								action="#{mbProjectDetails.loadProjectDetails(project.idproject)}" />
							<h:commandButton
								rendered="#{mbLabProjectsInProgress.verifyXPInProgressExist(project.idproject)}"
								class="add-result-button" value="Add Result"
								action="#{mbAddResult.loadAppropriateResultFormFromProject(project.idproject)}" />
						</h:form>
					</div>
				</div>
			</ui:repeat>
		</div>
	</ui:define>
</ui:composition>
</html>