<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<ui:composition template="/architecture.xhtml">
	<ui:define name="head">
		<title>Hybribody - Mother Plate Picking Details</title>
		<h:outputStylesheet library="css" name="lab.css" />
		<h:outputStylesheet library="css" name="projectDetails.css" />
		<h:outputStylesheet library="css" name="dataTable.css" />
	</ui:define>
	<ui:define name="lab-command">
		<div class="lab-button-command">
			<h:form>
				<h:commandButton id="btn-type" class="link"
					value="New Project" action="#{mbProject.displayNewProjectMode()}" />
			</h:form>
			<a class="link" href="newExperiment.xhtml">New Experiment</a> <a
				class="link" href="addResult.xhtml">New Result</a>
		</div>
		<div class="lab-path">
			<a href="labProject.xhtml">Laboratory</a> <img
				src="/resources/picture/right-arrow.png" />
			<h:form>
				<h:commandButton class="sup-path"
					value="#{mbXPDetails.project.name}"
					action="#{mbProjectDetails.loadProjectDetails(mbXPDetails.project.idproject)}" />
			</h:form>
			<img src="/resources/picture/right-arrow.png" />
			<h:outputLabel class="sup-path"
				value="#{mbXPDetails.motherPlatePicking.name}" />
			<img src="/resources/picture/right-arrow.png" />
		</div>
	</ui:define>
	<ui:define name="content">
		<div class="project-details-container">
			<div class="project-details-card">
				<div class="main-info-button-command">
					<div class="main-info">
						<h:outputLabel class="project-name"
							value="#{mbXPDetails.motherPlatePicking.name}" />
						<h4>Screening Picked</h4>
						<ui:repeat var="round"
							value="#{mbXPDetails.displayRoundsPicked()}">
							<h:outputLabel
								value="#{round.screening.name} : Round #{round.nb}" />
						</ui:repeat>
						<h4>Buffer Used</h4>
						<h:outputLabel value="Buffer (In Progress)" />
						<h4>Stockage</h4>
						<h:outputLabel value="Stockage (In Progress)" />
						<h4>Creation and Validation</h4>
						<h:outputLabel
							value="Created the #{mbXPDetails.motherPlatePicking.dateCreation}" />
						<div class="summary-success">
							<h:outputLabel
								rendered="#{mbXPDetails.motherPlatePicking.dateValidation != null}"
								value="Validated the #{mbXPDetails.motherPlatePicking.dateValidation}" />
							<h:form
								rendered="#{mbXPDetails.motherPlatePicking.dateValidation != null}">
								<h:graphicImage
									rendered="#{mbXPDetails.motherPlatePicking.valid != true}"
									value="/resources/picture/fail.png" />
								<h:graphicImage
									rendered="#{mbXPDetails.motherPlatePicking.valid}"
									value="/resources/picture/success.png" />
							</h:form>
						</div>
						<h:outputLabel
							value="By #{mbXPDetails.motherPlatePicking.employee.surname} #{mbXPDetails.motherPlatePicking.employee.name}" />
					</div>
					<div class="button-command">
						<h:form>
							<h:commandButton
								rendered="#{mbXPDetails.motherPlatePicking.dateValidation == null}"
								value="Valid"
								action="#{mbAddResult.loadProjectsInProgressWithMotherPlateInProgressAssociatedShortcut(mbXPDetails.motherPlatePicking.id)}" />
							<h:commandButton
								rendered="#{mbXPDetails.motherPlatePicking.dateValidation == null}"
								value="Modify*" />
							<h:commandButton value="Create Stockage*" />
						</h:form>
					</div>
				</div>
				<div class="supplementary-info">
					<h4>Antibody</h4>
					<div class="datatable-container">
						<table class="datatable-result">
							<thead>
								<tr>
									<th>Name</th>
									<th>Position</th>
									<th>Round</th>
									<th>Details</th>
								</tr>
							</thead>
							<tbody>
								<ui:repeat var="antibody"
									value="#{mbXPDetails.displayAntibodiesPicked()}">
									<tr>
										<td><h:outputLabel value="#{antibody.name}" /></td>
										<td><h:outputLabel value="#{antibody.position}" /></td>
										<td><h:outputLabel
												value="#{antibody.screeningRoundOrigin.nb}" /></td>
										<td><h:form>
												<h:commandButton value="Details*" />
											</h:form></td>
									</tr>
								</ui:repeat>
							</tbody>
						</table>
					</div>
					<h4>Experimental Control</h4>
					<div class="datatable-container control">
						<table class="datatable-result">
							<thead>
								<tr>
									<th>Name</th>
									<th>Position</th>
									<th>Target Bound</th>
									<th>Details</th>
								</tr>
							</thead>
							<tbody>
								<ui:repeat var="control"
									value="#{mbXPDetails.displayControlsUsed()}">
									<tr>
										<td><h:outputLabel value="#{control.name}" /></td>
										<td><h:outputLabel value="#{control.position}" /></td>
										<td><h:outputLabel value="#{control.targetRecognize}" /></td>
										<td><h:form>
												<h:commandButton value="Details*" />
											</h:form></td>
									</tr>
								</ui:repeat>
							</tbody>
						</table>
					</div>
					<h4>Comment</h4>
					<h:outputLabel value="#{mbXPDetails.motherPlatePicking.comment}" />
					<div>
						<h4>
							<h:outputLabel
								rendered="#{mbXPDetails.motherPlatePicking.validationComment != null}"
								value="Validation Comment" />
						</h4>
						<h:outputLabel
							rendered="#{mbXPDetails.motherPlatePicking.validationComment != null}"
							value="#{mbXPDetails.motherPlatePicking.validationComment}" />
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>