<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<ui:composition template="/architecture.xhtml">
	<ui:define name="head">
		<title>Hybribody - New Experiment</title>
		<h:outputStylesheet library="css" name="chooseExperiment.css" />
	</ui:define>
	<ui:define name="content">
		<div class="experiment-available">
			<div class="title">
				<span>What Experiment Do You Want To Create</span>
			</div>
			<div class="list">
				<div class="card screening">
					<div class="title-card">Screening</div>
					<div class="btn-command">
						<h:form>
							<h:commandButton rendered="#{mbXPCreator.verifyProjectInProgressExist() == true}" value="Phage Display" />
							<h:commandButton value="Phage Display Round*" />
						</h:form>
					</div>
				</div>
				<div class="card picking">
					<div class="title-card">Picking</div>
					<div class="btn-command">
						<h:form>
							<h:commandButton
								rendered="#{mbXPCreator.verifyRoundEligibleForMotherPlatePicking() == true}"
								action="#{mbXPCreator.displayProjectsWithAvailableScreeningWhoContainAvailableRound()}"
								value="Mother Plate" />
							<h:commandButton value="Duplicate Plate*" />
							<h:commandButton value="Reordering Plate*" />
						</h:form>
					</div>
				</div>
				<div class="card elisa">
					<div class="title-card">ELISA (soon)</div>
					<div class="btn-command">
						<a href="#">Phage ELISA*</a> <a href="#">Induced ELISA*</a> <a
							href="#">Classic ELISA*</a>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>