<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<ui:composition template="/architecture.xhtml">
	<ui:define name="head">
		<title>Hybribody - New Mother Plate Picking</title>
		<h:outputStylesheet library="css" name="newExperiment.css" />
	</ui:define>
	<ui:define name="content">
		<div class="container">
			<span class="main-title">New Mother Plate Picking</span>
			<h:form class="main-form" id="form-main">
				<div class="main-project-screening-round-selector">
					<span class="title-section">Round selector</span>
					<div class="project-screening-round-selector">
						<div class="project-screening-selector">
							<div class="project-selector">
								<h:outputLabel class="title-selector" value="Project"
									for="projectList" />
								<h:selectOneMenu class="selector" id="projectList"
									value="#{mbXPCreator.selectedProject}">
									<f:ajax
										listener="#{mbXPCreator.onProjectChangeForScreeningEligibleForMotherPlatePicking()}"
										update="screeningList" render="@form" />
									<f:ajax
										listener="#{mbXPCreator.onScreeningChangeForRoundEligibleForMotherPlatePicking()}"
										update="roundList1" render="@form" />
									<f:ajax
										listener="#{mbXPCreator.onScreeningChangeForRoundEligibleForMotherPlatePicking()}"
										update="roundList2" render="@form" />
									<f:selectItem itemLabel="Choose a project" itemValue=""
										noSelectionOption="true" />
									<f:selectItems value="#{mbXPCreator.projects}" var="project"
										itemLabel="#{project.name}" itemValue="#{project.idproject}" />
								</h:selectOneMenu>
							</div>
							<div class="screening-selector">
								<h:outputLabel class="title-selector" value="Screening"
									for="screeningList" />
								<h:selectOneMenu class="selector" id="screeningList"
									value="#{mbXPCreator.selectedScreening}">
									<f:ajax
										listener="#{mbXPCreator.onScreeningChangeForRoundEligibleForMotherPlatePicking()}"
										update="roundList1" render="@form" />
									<f:ajax
										listener="#{mbXPCreator.onScreeningChangeForRoundEligibleForMotherPlatePicking()}"
										update="roundList2" render="@form" />
									<f:ajax listener="#{mbXPCreator.onScreeningChangeForBuffer()}"
										update="bufferList" render="@form" />
									<f:selectItem itemLabel="Choose a screening" itemValue=""
										noSelectionOption="true" />
									<f:selectItems value="#{mbXPCreator.screenings}"
										var="screening" itemLabel="#{screening.name}"
										itemValue="#{screening.id}" />
								</h:selectOneMenu>
							</div>
						</div>
						<div class="rounds-selector">
							<div class="round-selector">
								<h:outputLabel class="title-selector" value="Round"
									for="roundList1" />
								<h:selectOneMenu class="selector" id="roundList1"
									value="#{mbXPCreator.selectedRound1}">
									<f:ajax render="@form" />
									<f:selectItem itemLabel="Choose a round" itemValue=""
										noSelectionOption="true" />
									<f:selectItems value="#{mbXPCreator.rounds}" var="round"
										itemLabel="Round #{round.nb}" itemValue="#{round.id}" />
								</h:selectOneMenu>
							</div>
							<div class="round-selector">
								<h:outputLabel class="title-selector" value="Round"
									for="roundList2" />
								<h:selectOneMenu class="selector" id="roundList2"
									value="#{mbXPCreator.selectedRound2}">
									<f:ajax render="@form" />
									<f:selectItem itemLabel="Choose a round (optional)"
										itemValue="" noSelectionOption="true" />
									<f:selectItems value="#{mbXPCreator.rounds}" var="round"
										itemLabel="Round #{round.nb}" itemValue="#{round.id}" />
								</h:selectOneMenu>
							</div>
						</div>
					</div>
				</div>
				<div class="main-xp-condition-selector">
					<span class="title-section">Experimental Condition</span>
					<div class="xp-condition-selector">
						<div class="condition-selector">
							<h:outputLabel class="title-selector" value="Buffer"
								for="bufferList" />
							<h:selectOneMenu class="selector" id="bufferList"
								value="#{mbXPCreator.selectedBuffer}">
								<f:ajax listener="#{mbXPCreator.onConditionChangeForPH()}"
									event="change" update="pHList" render="@form" />
								<f:selectItem itemLabel="Choose a condition" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{mbXPCreator.buffers}" var="buffer"
									itemLabel="#{buffer.name}" itemValue="#{buffer.id}" />
							</h:selectOneMenu>
						</div>
						<div class="display-pH-selector">
							<h:outputLabel class="title-info" value="pH" for="pHList" />
							<h:selectOneMenu class="selector" id="pHList" value="#{mbXPCreator.selectedPH}">
								<f:ajax render="@form" />
								<f:selectItem itemLabel="Choose a pH" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{mbXPCreator.pHs}" var="pH"
									itemLabel="#{pH.valueResult}" itemValue="#{pH.valueResult}" />
							</h:selectOneMenu>
						</div>
						<div class="display-temp-selector">
							<h:outputLabel class="title-info" value="°C" for="tempList" />
							<h:selectOneMenu class="selector" id="tempList"
								value="#{mbXPCreator.selectedTemp}">
								<f:ajax render="@form" />
								<f:selectItem itemLabel="Choose a Temperature" itemValue=""
									noSelectionOption="true" />
								<f:selectItems value="#{mbXPCreator.temperatures}"
									var="temperature" itemLabel="#{temperature.valueResult}"
									itemValue="#{temperature.id}" />
							</h:selectOneMenu>
						</div>
					</div>
				</div>
				<div class="main-xp-control-selector">
					<span class="title-section">Experimental Control</span>
					<div class="xp-controls-selector">
						<div class="xp-control-selector">
							<div class="control-selector">
								<h:outputLabel class="title-selector" value="Control A6"
									for="controlList1" />
								<h:selectOneMenu class="selector" id="controlList1"
									value="#{mbXPCreator.selectedControl1}">
									<f:ajax listener="#{mbXPCreator.onControl1ChangeForTarget1()}"
										event="change" update="targetRecognize1" render="@form" />
									<f:ajax listener="#{mbXPCreator.onControl1ChangeForTarget1()}"
										event="change" update="positionControl1" render="@form" />
									<f:selectItem itemLabel="Choose a control" itemValue=""
										noSelectionOption="true" />
									<f:selectItems value="#{mbXPCreator.xpControlsA6}"
										var="control" itemLabel="#{control.name}"
										itemValue="#{control.id}" />
								</h:selectOneMenu>
							</div>
							<div class="display-target-recognize">
								<h:outputLabel class="title-info" value="Target"
									for="targetRecognize1" />
								<h:outputLabel class="info"
									value="#{mbXPCreator.targetRecognize1}" id="targetRecognize1" />
							</div>
							<div class="display-position">
								<h:outputLabel class="title-info" value="Position"
									for="positionControl1" />
								<h:outputLabel class="info"
									value="#{mbXPCreator.positionControl1}" id="positionControl1" />
							</div>
						</div>
						<div class="xp-control-selector">
							<div class="control-selector">
								<h:outputLabel class="title-selector" value="Control B6"
									for="controlList2" />
								<h:selectOneMenu class="selector" id="controlList2"
									value="#{mbXPCreator.selectedControl2}">
									<f:ajax listener="#{mbXPCreator.onControl1ChangeForTarget2()}"
										event="change" update="targetRecognize2" render="@form" />
									<f:ajax listener="#{mbXPCreator.onControl1ChangeForTarget2()}"
										event="change" update="positionControl2" render="@form" />
									<f:selectItem itemLabel="Choose a control" itemValue=""
										noSelectionOption="true" />
									<f:selectItems value="#{mbXPCreator.xpControlsB6}"
										var="control" itemLabel="#{control.name}"
										itemValue="#{control.id}" />
								</h:selectOneMenu>
							</div>
							<div class="display-target-recognize">
								<h:outputLabel class="title-info" value="Target"
									for="targetRecognize2" />
								<h:outputLabel class="info"
									value="#{mbXPCreator.targetRecognize2}" id="targetRecognize2" />
							</div>
							<div class="display-position">
								<h:outputLabel class="title-info" value="Position"
									for="positionControl2" />
								<h:outputLabel class="info"
									value="#{mbXPCreator.positionControl2}" id="positionControl2" />
							</div>
						</div>
						<div class="xp-control-selector">
							<div class="control-selector">
								<h:outputLabel class="title-selector" value="Control" />
								<h:outputLabel class="control-selected" value="Blank" />
							</div>
							<div class="display-target-recognize">
								<h:outputLabel class="title-info" value="Target" />
								<h:outputLabel class="info" value="None" />
							</div>
							<div class="display-position">
								<h:outputLabel class="title-info" value="Position" />
								<h:outputLabel class="info" value="A12" />
							</div>
						</div>
					</div>
				</div>
				<div class="main-btn-command">
					<h:commandButton value="Confirm"
						action="#{mbXPCreator.createMotherPlatePicking()}" />
					<h:commandButton value="Clear"
						action="#{mbXPCreator.loadingForMotherPlatePicking()}" />
					<a href="newExperiment.xhtml">Cancel</a>
				</div>
				<div class="error-msg">
					<h:message for="projectList" style="color: red" />
					<h:message for="screeningList" style="color: red" />
					<h:message for="roundList1" style="color: red" />
					<h:message for="bufferList" style="color: red" />
					<h:message for="pHList" style="color: red" />
					<h:message for="tempList" style="color: red" />
				</div>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>