<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<ui:composition template="/architecture.xhtml">
	<ui:define name="head">
		<title>Hybribody - New Mother Plate Picking</title>
		<h:outputStylesheet library="css" name="success.css" />
	</ui:define>
	<ui:define name="content">
		<div class="result-success-main-container">
			<div class="result-success-container">
				<span class="title">Experiment created successfully</span> <span
					class="citation">A new brick of knowledge</span> <img
					src="/resources/picture/big_success.png" />
				<div class="btn-command">
					<h:form>
						<h:commandButton value="See Experiment created"
							action="#{mbXPDetails.loadExperimentDetails(mbXPCreator.xp.id)}" />
						<a class="link" href="addResult.xhtml">New result</a>
						<a class="link" href="newExperiment.xhtml">New Experiment</a>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>