<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/architecture.xhtml">
	<ui:define name="head">
		<title>Hybribody - New Project</title>
		<h:outputStylesheet library="css" name="projectForm.css" />
	</ui:define>
	<ui:define name="content">
		<div class="container">
			<h:outputLabel class="main-title">New Project, new Adventure !!!</h:outputLabel>
			<h:form id="new-project-form" class="main-form">
				<div class="section">
					<span class="title">Project</span>
					<div class="label-input">
						<div class="label">Name</div>
						<h:inputText pt:placeholder="Name of the project" class="input"
							value="#{mbProject.newProjectName}"></h:inputText>
					</div>
					<div class="error-msg">
						<h:message id="project-error" for="project-error"
							style="color: red"></h:message>
					</div>
				</div>
				<div class="section">
					<span class="title">Customer</span>
					<div class="label-select">
						<div class="label">Surname</div>
						<h:selectOneMenu class="select" id="customerList"
							value="#{mbProject.customerSelected}">
							<f:selectItem itemLabel="Choose a customer" itemValue=""
								noSelectionOption="true"></f:selectItem>
							<f:selectItems value="#{mbProject.customers}" var="customer"
								itemLabel="Dr. #{customer.name} #{customer.surname}"
								itemValue="#{customer.id}" />
						</h:selectOneMenu>
					</div>
					<div class="error-msg">
						<h:message id="customer-error" for="customer-error"
							style="color: red"></h:message>
					</div>
				</div>
				<div class="section">
					<span class="title">Subscription(s)</span>
					<div class="label-multi-checkbox">
						<div class="multi-checkbox">
							<h:outputLabel class="checkbox-title"
								value="#{mbProject.parentSubscription1.name}"></h:outputLabel>
							<h:selectManyCheckbox class="checkbox-list"
								id="child-subscription-list1"
								value="#{mbProject.selectedSubscriptions1}">
								<f:selectItems value="#{mbProject.childSubscriptions1}"
									var="childSubscription" itemLabel="#{childSubscription.name}"
									itemValue="#{childSubscription.idsubscription}" />
							</h:selectManyCheckbox>
						</div>
						<div class="multi-checkbox">
							<h:outputLabel class="checkbox-title"
								value="#{mbProject.parentSubscription2.name}"></h:outputLabel>
							<h:selectManyCheckbox class="checkbox-list"
								id="child-subscription-list2"
								value="#{mbProject.selectedSubscriptions2}">
								<f:selectItems value="#{mbProject.childSubscriptions2}"
									var="childSubscription" itemLabel="#{childSubscription.name}"
									itemValue="#{childSubscription.idsubscription}" />
							</h:selectManyCheckbox>
						</div>
						<div class="multi-checkbox">
							<h:outputLabel class="checkbox-title"
								value="#{mbProject.parentSubscription3.name}"></h:outputLabel>
							<h:selectManyCheckbox class="checkbox-list"
								id="child-subscription-list3"
								value="#{mbProject.selectedSubscriptions3}">
								<f:selectItems value="#{mbProject.childSubscriptions3}"
									var="childSubscription" itemLabel="#{childSubscription.name}"
									itemValue="#{childSubscription.idsubscription}" />
							</h:selectManyCheckbox>
						</div>
						<div class="multi-checkbox">
							<h:outputLabel class="checkbox-title"
								value="#{mbProject.parentSubscription4.name}"></h:outputLabel>
							<h:selectManyCheckbox class="checkbox-list"
								id="child-subscription-list4"
								value="#{mbProject.selectedSubscriptions4}">
								<f:selectItems value="#{mbProject.childSubscriptions4}"
									var="childSubscription" itemLabel="#{childSubscription.name}"
									itemValue="#{childSubscription.idsubscription}" />
							</h:selectManyCheckbox>
						</div>
						<div class="multi-checkbox">
							<h:outputLabel class="checkbox-title"
								value="#{mbProject.parentSubscription5.name}"></h:outputLabel>
							<h:selectManyCheckbox class="checkbox-list"
								id="child-subscription-list5"
								value="#{mbProject.selectedSubscriptions5}">
								<f:selectItems value="#{mbProject.childSubscriptions5}"
									var="childSubscription" itemLabel="#{childSubscription.name}"
									itemValue="#{childSubscription.idsubscription}" />
							</h:selectManyCheckbox>
						</div>
						<div class="multi-checkbox">
							<h:outputLabel class="checkbox-title"
								value="#{mbProject.parentSubscription6.name}"></h:outputLabel>
							<h:selectManyCheckbox class="checkbox-list"
								id="child-subscription-list6"
								value="#{mbProject.selectedSubscriptions6}">
								<f:selectItems value="#{mbProject.childSubscriptions6}"
									var="childSubscription" itemLabel="#{childSubscription.name}"
									itemValue="#{childSubscription.idsubscription}" />
							</h:selectManyCheckbox>
						</div>
					</div>
				</div>
				<div class="section">
					<span class="title">Comment</span>
					<h:inputTextarea class="text-area"
						value="#{mbProject.newProjectComment}"></h:inputTextarea>
				</div>
				<div class="btn-command">
					<h:commandButton value="Edit"
						action="#{mbProject.editNewProject()}"></h:commandButton>
					<h:commandButton action="#{mbProject.clear()}" value="Clear"></h:commandButton>
					<h:commandButton action="#{mbProject.cancel()}" value="Cancel"></h:commandButton>
				</div>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>