<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<ui:composition template="/architecture.xhtml">
	<ui:define name="head">
		<title>Hybribody - Project Details</title>
		<h:outputStylesheet library="css" name="lab.css" />
		<h:outputStylesheet library="css" name="projectDetails.css" />
	</ui:define>
	<ui:define name="lab-command">
		<div class="lab-button-command">
			<h:form>
				<h:commandButton id="btn-type" class="link" value="New Project"
					action="#{mbProject.displayNewProjectMode()}" />
			</h:form>
			<a class="link" href="newExperiment.xhtml">New Experiment</a> <a
				class="link" href="addResult.xhtml">New Result</a>
		</div>
		<div class="lab-path">
			<a href="labProject.xhtml">Laboratory</a> <img
				src="/resources/picture/right-arrow.png" />
			<h:outputLabel class="sup-path"
				value="#{mbProjectDetails.project.getName()}" />
			<img src="/resources/picture/right-arrow.png" />
		</div>
	</ui:define>
	<ui:define name="content">
		<div class="project-details-container">
			<div class="project-details-card">
				<div class="main-info-button-command">
					<div class="main-info">
						<h:outputLabel class="project-name"
							value="Project #{mbProjectDetails.project.name}" />
						<h4>Customer</h4>
						<h:outputLabel
							value="Dr. #{mbProjectDetails.project.customer.surname}" />
						<h4>Creation and Validation</h4>
						<h:outputLabel
							value="Created the #{mbProjectDetails.project.dateCreation}" />
						<div class="dateclosing-and-imgsuccess">
							<h:outputLabel
								rendered="#{mbProjectDetails.project.dateClosing != null}"
								value="Closing the #{mbProjectDetails.project.dateClosing}" />
							<h:graphicImage
								rendered="#{mbProjectDetails.project.success != true and mbProjectDetails.project.dateClosing != null}"
								value="/resources/picture/fail.png" />
							<h:graphicImage
								rendered="#{mbProjectDetails.project.success and mbProjectDetails.project.dateClosing != null}"
								value="/resources/picture/success.png" />
						</div>
						<h:outputLabel
							rendered="#{mbProjectDetails.project.dateCancelation != null}"
							value="Canceled the #{mbProjectDetails.project.dateCancelation}" />
					</div>
					<div class="button-command">
						<h:form>
							<h:commandButton
								rendered="#{mbProjectDetails.project.dateClosing == null and mbProjectDetails.project.dateCancelation == null}"
								action="newExperiment" value="New Experiment" />
							<h:commandButton value="Delivery*" />
							<h:commandButton
								rendered="#{mbProjectDetails.project.dateCancelation == null and mbProjectDetails.project.dateClosing == null and mbProjectDetails.noXPInProgress()}"
								action="#{mbProject.displayClosingProjectMode(mbProjectDetails.project.idproject)}"
								value="Closing" />
							<h:commandButton
								rendered="#{mbProjectDetails.project.dateCancelation == null and mbProjectDetails.project.dateClosing != null}"
								action="#{mbProject.reopenProject(mbProjectDetails.project.idproject)}"
								value="Re-Open" />
							<h:commandButton
								action="#{mbProject.displayCancelProjectMode(mbProjectDetails.project.idproject)}"
								rendered="#{mbProjectDetails.project.dateCancelation == null and mbProjectDetails.employee.title.name == 'Manager'}"
								value="Cancel" />
							<h:commandButton
								rendered="#{mbProjectDetails.project.dateCancelation == null and mbProjectDetails.project.dateClosing == null}"
								action="#{mbProject.displayModifyProjectMode(mbProjectDetails.project.idproject)}"
								value="Modify" />
						</h:form>
					</div>
				</div>
				<div class="supplementary-info">
					<div class="subscription-info">
						<h4>Subscriptions</h4>
						<ui:repeat var="subscription"
							value="#{mbProjectDetails.subscriptions}">
							<h:outputLabel value="#{subscription.name}" />
						</ui:repeat>
					</div>
					<div class="similar-project">
						<h4>Similar Project</h4>
						<ui:repeat var="project"
							value="#{mbProjectDetails.similarProjects}">
							<div class="one-similar-project">
								<h:form>
									<h:outputLabel class="name-similar-project"
										value="#{project.name}"></h:outputLabel>
									<h:commandButton class="similar-project-details-btn"
										value="Details"
										action="#{mbProjectDetails.loadProjectDetails(project.idproject)}" />
								</h:form>
							</div>
						</ui:repeat>
					</div>
					<div class="comment-info">
						<h4>Comment</h4>
						<h:outputLabel value="#{mbProjectDetails.project.comment}" />
					</div>
					<div class="comment-info">
						<h:outputLabel
							rendered="#{mbProjectDetails.project.dateCancelation != null}">
							<h4>Aborting Cause</h4>
						</h:outputLabel>
						<h:outputLabel
							rendered="#{mbProjectDetails.project.dateCancelation != null}"
							value="#{mbProjectDetails.project.cancelationCause}" />
					</div>
					<div class="comment-info">
						<h:outputLabel
							rendered="#{mbProjectDetails.project.dateClosing != null}">
							<h4>Closing Comment</h4>
						</h:outputLabel>
						<h:outputLabel
							rendered="#{mbProjectDetails.project.dateClosing != null}"
							value="#{mbProjectDetails.project.closingComment}" />
					</div>
				</div>
			</div>
			<div class="experiment-container">
				<div class="experiment-inprogress-container">
					<div class="lab-title-sortby">
						<h4>Experiment In Progress</h4>
						<select name="sortingBy">
							<option value="">Sort By</option>
							<option value="">Most Recent</option>
							<option value="">Less Recent</option>
							<option value="">Asc. Experiment Name</option>
							<option value="">Desc. Experiment Name</option>
							<option value="">Asc. Employee Name</option>
							<option value="">Desc. Employee Name</option>
						</select>
					</div>
					<div class="experiment-card-container">
						<div class="card-container">
							<ui:repeat var="experiment"
								value="#{mbProjectDetails.experimentsInProgress}">
								<div class="experiment-card">
									<div class="experiment-card-info">
										<h4>Name</h4>
										<div>
											<h:outputLabel value="#{experiment.name}" />
										</div>
										<h4>Created The</h4>
										<div>
											<h:outputLabel value="#{experiment.dateCreation}" />
										</div>
										<h4>Created By</h4>
										<div>
											<h:outputLabel
												value="#{experiment.employee.surname} #{experiment.employee.name}" />
										</div>
									</div>
									<div class="btn-card-command">
										<h:form>
											<h:commandButton value="Details"
												action="#{mbXPDetails.loadExperimentDetails(experiment.id)}" />
											<h:commandButton value="Add Result"
												action="#{mbAddResult.loadAppropriateResultFormFromProject(mbProjectDetails.project.idproject)}" />
										</h:form>
									</div>
								</div>
							</ui:repeat>
						</div>
					</div>
				</div>
				<div class="experiment-validated-container">
					<div class="lab-title-sortby">
						<h4>Experiment Validated</h4>
						<select name="sortingBy">
							<option value="">Sort By</option>
							<option value="">Most Recent</option>
							<option value="">Less Recent</option>
							<option value="">Asc. Experiment Name</option>
							<option value="">Desc. Experiment Name</option>
							<option value="">Asc. Employee Name</option>
							<option value="">Desc. Employee Name</option>
						</select>
					</div>
					<div class="experiment-card-container">
						<div class="card-container">
							<ui:repeat var="experiment"
								value="#{mbProjectDetails.experimentsValidated}">
								<div class="experiment-card">
									<div class="experiment-card-info">
										<h4>Name</h4>
										<div>
											<h:outputLabel value="#{experiment.name}" />
										</div>
										<h4>Validated The</h4>
										<div>
											<h:outputLabel value="#{experiment.dateValidation}" />
										</div>
										<h4>Made By</h4>
										<div>
											<h:outputLabel
												value="#{experiment.employee.surname} #{experiment.employee.name}" />
										</div>
									</div>
									<div class="btn-card-command">
										<h:form>
											<h:commandButton value="Details"
												action="#{mbXPDetails.loadExperimentDetails(experiment.id)}" />
											<div>
												<h:graphicImage rendered="#{experiment.valid != true}"
													value="/resources/picture/fail.png" />
												<h:graphicImage rendered="#{experiment.valid}"
													value="/resources/picture/success.png" />
											</div>
										</h:form>
									</div>
								</div>
							</ui:repeat>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>