<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
<ui:composition template="/architecture.xhtml">
	<ui:define name="head">
		<title>Hybribody - Screening Details</title>
		<h:outputStylesheet library="css" name="lab.css" />
		<h:outputStylesheet library="css" name="projectDetails.css" />
		<h:outputStylesheet library="css" name="screeningDetails.css" />
		<h:outputStylesheet library="css" name="dataTable.css" />
	</ui:define>
	<ui:define name="lab-command">
		<div class="lab-button-command">
			<h:form>
				<h:commandButton id="btn-type" class="link"
					value="New Project" action="#{mbProject.displayNewProjectMode()}" />
			</h:form>
			<a class="link" href="newExperiment.xhtml">New Experiment</a>
			<a class="link" href="addResult.xhtml">New Result</a>
		</div>
		<div class="lab-path">
			<a href="labProject.xhtml">Laboratory</a> <img
				src="/resources/picture/right-arrow.png" />
			<h:form>
				<h:commandButton class="sup-path"
					value="#{mbXPDetails.project.name}"
					action="#{mbProjectDetails.loadProjectDetails(mbXPDetails.project.idproject)}" />
			</h:form>
			<img src="/resources/picture/right-arrow.png" />
			<h:outputLabel class="sup-path" value="#{mbXPDetails.screening.name}" />
			<img src="/resources/picture/right-arrow.png" />
		</div>
	</ui:define>
	<ui:define name="content">
		<div class="project-details-container">
			<div class="project-details-card">
				<div class="main-info-button-command">
					<div class="main-info">
						<h:outputLabel class="project-name"
							value="#{mbXPDetails.screening.name}" />
						<h4>Library Used</h4>
						<h:outputLabel
							value="Library used is #{mbXPDetails.screening.library.name}" />
						<h4>Creation and Validation</h4>
						<h:outputLabel
							value="Created the #{mbXPDetails.screening.dateCreation}" />
						<div class="summary-success">
							<h:outputLabel
								rendered="#{mbXPDetails.screening.dateValidation != null}"
								value="Validated the #{mbXPDetails.screening.dateValidation}" />
							<h:form
								rendered="#{mbXPDetails.screening.dateValidation != null}">
								<h:graphicImage
									rendered="#{mbXPDetails.screening.valid != true}"
									value="/resources/picture/fail.png" />
								<h:graphicImage rendered="#{mbXPDetails.screening.valid}"
									value="/resources/picture/success.png" />
							</h:form>
						</div>
						<h:outputLabel
							value="By #{mbXPDetails.screening.employee.surname} #{mbXPDetails.screening.employee.name}" />
					</div>
					<div class="button-command">
						<h:form>
							<h:commandButton value="New Round*" />
							<h:commandButton rendered="#{mbXPCreator.verifyAvailableScreeningWithAvailableRoundByIdProject(mbXPDetails.project.idproject) == true}" action="#{mbXPCreator.displayProjectsWithAvailableScreeningWhoContainAvailableRound()}" value="New Mother Plate" />
							<h:commandButton value="Library used*" />
							<h:commandButton value="Mother Plate(s)*" />
							<h:commandButton value="Antibody*" />
							<h:commandButton value="Validate*" />
							<h:commandButton value="Modify*" />
							<h:commandButton value="Cancel*" />
						</h:form>
					</div>
				</div>
				<div class="supplementary-info">
					<div class="subscription-info">
						<h4>Summary</h4>
						<div class="datatable-container">
							<table class="datatable-result">
								<thead>
									<tr>
										<th>Round</th>
										<th>Input (phage)</th>
										<th>Output (phage)</th>
										<th>Ratio</th>
										<th>Enrichment</th>
									</tr>
								</thead>
								<tbody>
									<ui:repeat var="round"
										value="#{mbXPDetails.displayValidatedAndSuccessRound()}">
										<tr>
											<td><h:outputLabel value="#{round.nb}" /></td>
											<td><h:outputLabel
													value="#{mbXPDetails.displayMeanInputByRound(round.id).valueResult}" /></td>
											<td><h:outputLabel
													value="#{mbXPDetails.displayMeanOutputByRound(round.id).valueResult}" /></td>
											<td><h:outputLabel
													value="#{mbXPDetails.displayRatioByRound(round.id).valueResult}" /></td>
											<td><h:outputLabel
													value="#{mbXPDetails.displayEnrichmentByRound(round.id).valueResult}" /></td>
										</tr>
									</ui:repeat>
								</tbody>
							</table>
						</div>
					</div>
					<div class="comment-info">
						<h4>Comment</h4>
						<h:outputLabel value="#{mbXPDetails.screening.comment}" />
					</div>
					<div>
						<h:outputLabel
							rendered="#{mbXPDetails.screening.validationComment != null}"
							value="Cause of failure" />
						<h:outputLabel
							rendered="#{mbXPDetails.screening.validationComment != null}"
							value="#{mbXPDetails.screening.validationComment}" />
					</div>
				</div>
			</div>
			<div class="experiment-container">
				<div class="experiment-inprogress-container">
					<div class="lab-title-sortby">
						<h4>Round In Progress</h4>
						<select name="sortingBy">
							<option value="">Sort By</option>
							<option value="">Most Recent</option>
							<option value="">Less Recent</option>
							<option value="">Asc. Round Number</option>
							<option value="">Desc. Round Number</option>
							<option value="">Asc. Employee Name</option>
							<option value="">Desc. Employee Name</option>
						</select>
					</div>
					<div class="experiment-card-container">
						<div class="card-container">
							<ui:repeat var="round"
								value="#{mbXPDetails.displayRoundInProgress()}">
								<div class="screening-round-card experiment-card">
									<div class="experiment-card-info">
										<h4>Screening Round</h4>
										<div>
											<h:outputLabel value="#{round.nb}" />
										</div>
										<h4>Positive Target</h4>
										<div>
											<h:outputLabel
												value="#{round.positiveTarget.finalConcentration.valueResult}#{round.positiveTarget.finalConcentration.unity.name} of #{round.positiveTarget.target.name}" />
										</div>
										<h4>Negative Target</h4>
										<div>
											<h:outputLabel
												value="#{round.negativeTarget.finalConcentration.valueResult}#{round.negativeTarget.finalConcentration.unity.name} of #{round.negativeTarget.target.name}" />
										</div>
										<h4>Created The</h4>
										<div>
											<h:outputLabel value="#{round.dateCreation}" />
										</div>
									</div>
									<div class="btn-card-command">
										<h:form>
											<h:commandButton value="Details*" />
											<h:commandButton value="New Result" action="#{mbAddResult.loadProjectsInProgressWithScreeningAndRoundInProgressAssociated()}" />
										</h:form>
									</div>
								</div>
							</ui:repeat>
						</div>
					</div>
				</div>
				<div class="experiment-validated-container">
					<div class="lab-title-sortby">
						<h4>Round Validated</h4>
						<select name="sortingBy">
							<option value="">Sort By</option>
							<option value="">Most Recent</option>
							<option value="">Less Recent</option>
							<option value="">Asc. Round Number</option>
							<option value="">Desc. Round Number</option>
							<option value="">Asc. Employee Name</option>
							<option value="">Desc. Employee Name</option>
						</select>
					</div>
					<div class="experiment-card-container">
						<div class="card-container">
							<ui:repeat var="round"
								value="#{mbXPDetails.displayRoundValidated()}">
								<div class="screening-round-card experiment-card">
									<div class="experiment-card-info">
										<h4>Screening Round</h4>
										<div>
											<h:outputLabel value="#{round.nb}" />
										</div>
										<h4>Positive Target</h4>
										<div>
											<h:outputLabel
												value="#{round.positiveTarget.finalConcentration.valueResult}#{round.positiveTarget.finalConcentration.unity.name} of #{round.positiveTarget.target.name}" />
										</div>
										<h4>Negative Target</h4>
										<div>
											<h:outputLabel
												value="#{round.negativeTarget.finalConcentration.valueResult}#{round.negativeTarget.finalConcentration.unity.name} of #{round.negativeTarget.target.name}" />
										</div>
										<h4>Validated The</h4>
										<div>
											<h:outputLabel value="#{round.dateValidation}" />
										</div>
									</div>
									<div class="btn-card-command">
										<h:form>
											<h:commandButton value="Details*" />
											<div>
												<h:graphicImage rendered="#{round.valid != true}"
													value="/resources/picture/fail.png" />
												<h:graphicImage rendered="#{round.valid}"
													value="/resources/picture/success.png" />
											</div>
										</h:form>
									</div>
								</div>
							</ui:repeat>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>