<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/architecture.xhtml">
	<ui:define name="head">
		<title>Hybribody - Search Project</title>
		<h:outputStylesheet library="css" name="lab.css" />
		<h:outputStylesheet library="css" name="searchFieldStyle.css" />
	</ui:define>
	<ui:define name="content">
		<div class="search-main-container" id="search-by-project">
			<span class="main-title" id="search-project-main-title">Advanced
				Search Project</span>
			<h:form class="form-input-criteria" id="criteria-for-project-search">
				<div class="search-form" id="search-form-by-project">
					<div class="search-field" id="search-field-by-project">
						<div class="one-input-field" id="input-project-field">
							<span class="input-title" id="title-project-name">Project
								Name</span>
							<h:inputText id="input-project-name" class="input-field"
								pt:placeholder="Enter a Project Name"
								value="#{mbSearch.projectNameWanted}">
							</h:inputText>
						</div>
						<div class="one-input-field" id="input-customer-surname-field">
							<span class="input-title" id="title-customer-surname">Customer
								Surname</span>
							<h:inputText id="input-customer-surname" class="input-field"
								pt:placeholder="Enter a Customer Surname"
								value="#{mbSearch.customerSurnameWanted}">
							</h:inputText>
						</div>
						<div class="one-input-field" id="input-customer-name-field">
							<span class="input-title" id="title-customer-name">Customer
								Name</span>
							<h:inputText id="input-customer-name" class="input-field"
								pt:placeholder="Enter a Customer Name"
								value="#{mbSearch.customerNameWanted}">
							</h:inputText>
						</div>
						<div class="one-input-field" id="input-xp-cat-field">
							<span class="input-title" id="title-xp-cat">Experiment
								Category</span>
							<h:selectOneMenu id="xpCategoryList"
								value="#{mbSearch.selectedXPCategory}">
								<f:selectItem itemLabel="Choose a category" itemValue=""
									noSelectionOption="true" />
								<f:selectItem itemLabel="Screening" itemValue="screening" />
								<f:selectItem itemLabel="Mother Plate Picking"
									itemValue="mother_plate_screening" />
							</h:selectOneMenu>
						</div>
						<div class="one-input-field" id="input-all-subscription-field">
							<div class="sub-input-field" id="input-parent-subscription-field">
								<span class="input-title" id="title-parent-subscription">Subscription</span>
								<h:selectOneMenu id="parentSubscriptionList"
									value="#{mbSearch.selectedParentSubscription}">
									<f:ajax
										listener="#{mbSearch.onParentSubscriptionChangeForSubscriptionList()}"
										update="subscriptionList" render="@form" />
									<f:selectItem itemLabel="Choose a Subscription" itemValue=""
										noSelectionOption="true" />
									<f:selectItems value="#{mbSearch.parentSubscriptions}"
										var="parentSubscription"
										itemLabel="#{parentSubscription.name}"
										itemValue="#{parentSubscription.idsubscription}" />
								</h:selectOneMenu>
							</div>
							<div class="sub-input-field" id="input-subscription-field">
								<h:selectOneMenu id="subscriptionList"
									value="#{mbSearch.selectedSubscription}">
									<f:ajax render="@form" />
									<f:selectItem itemLabel="Choose a Subscription" itemValue=""
										noSelectionOption="true" />
									<f:selectItems value="#{mbSearch.subscriptions}"
										var="subscription" itemLabel="#{subscription.name}"
										itemValue="#{subscription.idsubscription}" />
								</h:selectOneMenu>
							</div>
						</div>
						<div class="one-input-field" id="input-status-field">
							<span class="input-title" id="title-status">Status</span>
							<h:selectOneRadio id="statusSelector"
								value="#{mbSearch.selectedStatus}">
								<f:selectItem itemValue="All" itemLabel="All" />
								<f:selectItem itemValue="In Progress" itemLabel="In Progress" />
								<f:selectItem itemValue="Successfull Validation"
									itemLabel="Successfull Validation" />
								<f:selectItem itemValue="Unsuccessfull Validation"
									itemLabel="Unsuccessfull Validation" />
								<f:selectItem itemValue="Cancel" itemLabel="Cancel" />
							</h:selectOneRadio>
						</div>
					</div>
					<div class="btn-command" id="search-btn-command-by-project">
						<h:commandButton value="Search"
							action="#{mbSearch.searchProjectWithCriteriaSelected()}" />
						<h:commandButton value="Clear" action="#{mbSearch.clear()}" />
					</div>
				</div>
			</h:form>
			<div class="projectinprogress-container">
				<ui:repeat var="project" value="#{mbSearch.projects}">
					<div class="card">
						<div class="top">
							<h:outputLabel class="name-project" value="#{project.name}" />
							<br />
							<h:outputLabel class="customer"
								value="Dr. #{project.customer.surname}" />
						</div>
						<div class="info">Most Recent Experiment In Progress</div>
						<div class="details">
							<div class="line">
								<h:outputLabel
									value="#{mbLabProjectsInProgress.displayMostRecentXpInProgress(project.idproject)}" />
							</div>
						</div>
						<div class="info">Most Recent Experiment Validated</div>
						<div class="details">
							<div class="line">
								<h:outputLabel
									value="#{mbLabProjectsInProgress.displayMostRecentXpValidated(project.idproject)}" />
							</div>
						</div>
						<div class="title-info-container">
							<h:outputLabel rendered="#{project.dateCreation != null and project.dateClosing == null and project.dateCancelation == null}" class="info" value="Created The" />
							<h:outputLabel rendered="#{project.dateCreation != null and project.dateClosing != null}" class="info" value="Closed The" />
							<h:outputLabel rendered="#{project.dateCreation != null and project.dateCancelation != null}" class="info" value="Canceled The" />
						</div>
						<div class="details">
							<div class="line">
								<h:outputLabel rendered="#{project.dateCreation != null and project.dateClosing == null and project.dateCancelation == null}" value="#{project.dateCreation}" />
								<h:outputLabel rendered="#{project.dateCreation != null and project.dateClosing != null}" value="#{project.dateClosing}" />
								<h:outputLabel rendered="#{project.dateCreation != null and project.dateCancelation != null}" value="#{project.dateCancelation}" />
							</div>
						</div>
						<div class="button-command">
							<h:form>
								<h:commandButton class="details-button" value="Details"
									action="#{mbProjectDetails.loadProjectDetails(project.idproject)}" />
								<h:commandButton rendered="#{mbLabProjectsInProgress.verifyXPInProgressExist(project.idproject)}" class="add-result-button" value="Add Result"
									action="#{mbAddResult.loadAppropriateResultFormFromProject(project.idproject)}" />
							</h:form>
						</div>
					</div>
				</ui:repeat>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>